{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ (action == 'add') ? 'create new event'|trans : 'edit event'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('select2-3.5.1/select2.css') }}" rel="stylesheet"/>
<link href="{{ asset('select2-3.5.1/select2-bootstrap.css') }}" rel="stylesheet"/>
<link href="{{ asset('bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('select2-3.5.1/select2.js') }}"></script>
<script src="{{ asset('moment/moment.js') }}"></script>
<script src="{{ asset('bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
<script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#tags").select2({
            placeholder: "{{ 'enter a tag name for add or search'|trans }}",
            minimumInput: 0,
            multiple: true,
            allowClear: true,
            ajax: {
                url: "{{ path('get_all_tags') }}",
                quietMillis: 100,
                data: function (term) {
                    return {
                        q: term,
                        exist: $(this).select2('val')
                    };
                },
                results: function (json) {
                    var results = [];
                    $.each(json.data, function(i) {
                        results.push({
                            id: escape(JSON.stringify(json.data[i])),
                            text: json.data[i].name
                        });
                    });
                    return {
                        results: results
                    };
                }
            },
            formatSearching: function() {
                return "{{ 'searching...'|trans }}";
            },
            createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
            initSelection: function(element, callback) {
                var data = [],
                    tmp = $.parseJSON($(element).val());

                $(element).val('');

                $.each(tmp, function (i, item) {
                    data.push({
                        id: escape(JSON.stringify(item)),
                        text: item.name
                    });
                });
                callback(data);
            }
        });

        $('#event-form').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'the event name is required'|trans }}"
                        }
                    }
                }
            }
        });

        $("#users").select2({
            placeholder: "{{ 'search user, group'|trans }}",
            minimumInput: 0,
            multiple: true,
            allowClear: true,
            ajax: {
                url: "{{ path('get_all_users') }}",
                quietMillis: 100,
                data: function (term) {
                    return {
                        q: term,
                        exist: $(this).select2('val')
                    };
                },
                results: function (json) {
                    var results = [];
                    $.each(json.data, function(i) {
                        var prefix = '';
                        if (json.data[i].type === 'group') {
                            prefix = "{{ 'group'|trans }}: ";
                        } else if (json.data[i].type === 'user') {
                            prefix = "{{ 'user'|trans }}: ";
                        }
                        results.push({
                            id: escape(JSON.stringify(json.data[i])),
                            text: prefix + json.data[i].name
                        });
                    });
                    return {
                        results: results
                    };
                }
            },
            formatSearching: function() {
                return "{{ 'searching...'|trans }}";
            },
            initSelection: function(element, callback) {
                var data = [],
                    tmp = $.parseJSON($(element).val());

                $(element).val('');

                $.each(tmp, function (i, item) {
                    var prefix = '';
                    if (item.type === 'user') {
                        prefix = "{{ 'user' }}: ";
                    } else if (item.type === 'group') {
                        prefix = "{{ 'group' }}: ";
                    }
                    data.push({
                        id: escape(JSON.stringify(item)),
                        text: prefix + item.name
                    });
                });
                callback(data);
            }
        });

    });

    $(function() {
        $('#start_at').datetimepicker();
        $('#end_at').datetimepicker();
        $('#color').colorpicker();
        $('#color').colorpicker('setValue', '#428bca');
        $('#color input').val('#428bca');

        $("[name='status']").bootstrapSwitch();
    });
</script>
{% endblock %}

{% block content %}
    <div class="col-md-10">

        <div class="content">
            <div class="main-header">
                <h2><i class="fa fa-puzzle-piece"></i> {{ (action == 'add') ? 'create new event'|trans : 'edit event'|trans }}</h2>
                <em>{{ 'events can attach media document'|trans }}</em>
            </div>

            <div class="main-content">
                <div class="row-fluid">
                    <a href="{{ path('admin_event') }}" class="btn btn-default">
                        <i class="fa fa-arrow-circle-left"></i> {{ 'event management'|trans }}
                    </a>
                </div>

                <hr>
                <form id="event-form" role="form" action="{{ (action == 'add') ? path('admin_event_add') : path('admin_event_edit', {id: event.id}) }}" method="POST">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#base" role="tab" data-toggle="tab">{{ 'base infomation'|trans }}</a></li>
                                <li><a href="#attachment" role="tab" data-toggle="tab">{{ 'attachment'|trans }}</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="base">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group required">
                                                <label class="control-label" for="event_name">{{ 'event name'|trans }}</label>
                                                <input type="text" class="form-control" id="name" name="name" placeholder="{{ 'enter a event name'|trans }}" value="{{ event.name }}">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="event_name">{{ 'category (tags)'|trans }}</label>
                                                <input type="text" class="form-control" id="tags" name="tags" placeholder="{{ 'enter a tag'|trans }}" value="{{ event.tags }}">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="users">{{ 'users'|trans }}</label>
                                                <input type="text" class="form-control" id="users" name="users" value="{{ event.users }}">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="color">{{ 'color'|trans }}#</label>
                                                <div class="input-group col-md-6" id="color">
                                                    <input type="text" class="form-control" name="color" value="{{ event.color }}"/>
                                                    <span class="input-group-addon"><i></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="start_at">{{ 'start at'|trans }}</label>
                                                <div class='input-group date' id='start_at'>
                                                    <input type='text' class="form-control" name="start_at" value="{{ (action == 'edit') ? event.startAt|date('m/d/Y H:i:s') }}"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="end_at">{{ 'end at'|trans }}</label>
                                                <div class='input-group date' id='end_at'>
                                                    <input type='text' class="form-control" name="end_at" value="{{ (action == 'edit') ? event.endAt|date('m/d/Y H:i:s') }}"/>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="status">{{ 'publish'|trans }}</label>
                                                <div>
                                                    <input type="checkbox" name="status" {{ (event.publish) ? 'checked' : '' }}>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane" id="attachment">
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success pull-right">{{ (action == 'add') ? 'create'|trans : 'update'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}