{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'event management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>

<style type="text/css">
    .box-color {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
</style>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'confirm delete'|trans }}: " + $(this).attr('data-name') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'GET',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <div class="content">
            <div class="main-header">
                <h2><i class="fa fa-ticket"></i> {{ 'event management'|trans }}</h2>
                <em>{{ 'event list, add, update & delete'|trans }}</em>
            </div>

            <div class="main-content">
                <div class="text-right">
                    <a href="{{ path('admin_event_category') }}" class="btn btn-default"><i class="fa fa-list-alt"></i> {{ 'category event'|trans }}</a>
                    <a href="{{ path('admin_event_add') }}" class="btn btn-success"><i class="fa fa-plus-circle"></i> {{ 'create event'|trans }}</a>
                </div>

                <hr>
                {% if events|length > 0 %}
                <table class="table table-bordered" id="data-table">
                    <thead>
                        <tr>
                            <th>{{ 'event name'|trans }}</th>
                            <th>{{ 'category'|trans }}</th>
                            <th>{{ 'user'|trans }}</th>
                            <th>{{ 'start at'|trans }}</th>
                            <th>{{ 'end at'|trans }}</th>
                            <th>{{ 'publish'|trans }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr id="{{ event.id }}">
                            <td>
                                <span class="box-color" style="background: {{ event.color }}"></span>
                                {{ event.name }}
                            </td>
                            <td>
                                {{ 
                                    render(controller('IngeEventBundle:Event:fetchEventTagName', {
                                        'tagIds': event.tags
                                    })) 
                                }}
                            </td>
                            <td>
                                {% for i in event.users|json_decode %}
                                    <p>- <a href="#">{{ i.type|trans ~ ': ' ~ i.name }}</a></p>
                                {% endfor %}
                            </td>
                            <td>
                                {% if event.startAt is not null %}
                                    {{ event.startAt|date('m-d-Y H:i:s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if event.endAt is not null %}
                                    {{ event.endAt|date('m-d-Y H:i:s') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if event.publish == 1 %}
                                    <i class="fa fa-toggle-on status-on"></i>
                                {% else %}
                                    <i class="fa fa-toggle-off status-off"></i>
                                {% endif %}
                            </td>
                            <td class="text-right" width="90">
                                <a class="btn btn-default btn-xs" href="{{ path('admin_event_edit', {id: event.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
                                <a class="btn btn-default btn-xs btn-delete" data-url="{{ path('admin_event_delete', {id: event.id}) }}" data-name="{{ event.name }}" href="#"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}