{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'event category management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '.btn-delete', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'confirm delete'|trans }}: " + $(this).attr('data-name') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'GET',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            if ($(this).closest('tbody').children('tr').length > 1) {
                                $(this).closest('tr').remove();
                            } else {
                                location.reload();
                            }
                            
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <div class="content">
            <div class="main-header">
                <h2><i class="fa fa-ticket"></i> {{ 'event category management'|trans }}</h2>
                <em>{{ 'event list, add, update & delete'|trans }}</em>
            </div>

            <div class="main-content">
                <div class="row-fluid">
                    <a href="{{ path('admin_event') }}" class="btn btn-default">
                        <i class="fa fa-arrow-circle-left"></i> {{ 'event management'|trans }}
                    </a>
                </div>

                <hr>
                {% if tags|length > 0 %}
                <table class="table table-bordered" id="data-table">
                    <thead>
                        <tr>
                            <th>{{ 'tag name'|trans }}</th>
                            <th>{{ 'event'|trans }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr id="{{ tag.id }}">
                            <td width="50%">{{ tag.name }}</td>
                            <td>
                                {{ 
                                    render(controller('IngeEventBundle:Event:EventByTag', {
                                        'tagId': tag.id
                                    })) 
                                }}
                            </td>
                            <td class="text-right" width="90">
                                <a class="btn btn-default btn-xs btn-delete" data-url="{{ path('admin_event_category_delete', {id: tag.id}) }}" data-name="{{ tag.name }}" href="#"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}