<tr>
    <td>
        <h4>{{ 'language on backend'|trans }}</h4>
        <p><small>{{ 'setting default language for backend area'|trans }}</small></p>
    </td>
    <td><input class="form-control" id="language_backend" type="text" value="..."></td>
</tr>

<tr>
    <td>
        <h4>{{ 'language on frontend'|trans }}</h4>
        <p><small>{{ 'setting default language for frontend area'|trans }}</small></p>
    </td>
    <td><input class="form-control" id="language_frontend" type="text" value="..."></td>
</tr>

<script type="text/javascript">
    $(document).ready(function() {
        $('#language_backend, #language_frontend').select2({
            placeholder: "{{ 'search with key...'|trans }}",
            minimumInput: 0,
            allowClear: true,
            ajax: {
                url: "{{ path('get_languages') }}",
                dataType: 'json',
                quietMillis: 100,
                data: function (term) {
                    return {
                        q: term
                    };
                },
                results: function (json) {
                    var results = [];
                    $.each(json.data, function(i) {
                        results.push({
                            id: json.data[i].locale,
                            text: json.data[i].name
                        });
                    });
                    return {
                        results: results
                    };
                }
            },
            formatSearching: function() {
                return "{{ 'searching...'|trans }}";
            },
            initSelection: function(element, callback) {
                var data = [];

                $.ajax({
                    url: "{{ path('get_setting_language') }}",
                    type: 'GET',
                    data: {
                        area: $(element).attr('id').replace('language_', '')
                    },
                    dataType: 'json',
                    success: function(res) {
                        if (res.status) {
                            if (res.data) {
                                data.push({
                                    id: res.data.locale,
                                    text: res.data.name
                                });
                            }
                            callback(data[0]);
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }

        }).change(function(e) {
            $.ajax({
                url: "{{ path('admin_setting_language') }}",
                type: 'POST',
                data: {
                    area: $(this).attr('id').replace('language_', ''),
                    locale: $(this).val()
                },
                success: function(res) {
                    if (res.status) {
                        location.reload();
                    } else {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        });
    });
</script>