<script type="text/javascript">
    $(document).ready(function() {
        $('#data-table').dataTable({
            "sDom": "<'row'<'col-md-6 col-sm-6'l><'col-md-6 col-sm-6'f>r>t<'row'<'col-md-6 col-sm-6'i><'col-md-6 col-sm-6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ {{ 'records per page'|trans }}",
                "sPrevious": "{{ 'previous'|trans }}",
                "sNext": "{{ 'next'|trans }}",
                "sSearch": "{{ 'search'|trans }}"
            }
        });
    });
</script>