{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'setting roles'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>

<style type="text/css">
th.rotate {
    height: 160px;
    white-space: nowrap;
}

th.rotate > div {
    transform: translate(-8px, 0) rotate(270deg);
    width: 30px;
}
th.rotate > div > span {
    padding: 5px 10px;
}
</style>
{% endblock %}

{% block js %}
<script src="{{ asset('bootbox/bootbox.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">

    $(document).ready(function() {
        $('#role-form').bootstrapValidator({
            fields: {
                role_name: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'name is required'|trans }}"
                        }
                    }
                },
            }
        });

        $('.btn-add-role').click(function() {
            bootbox.dialog({
                message: $('#role-form'),
                title: "{{ 'create new role'|trans }}",
                show: false
            }).on('shown.bs.modal', function() {
                $('#role-form').show().bootstrapValidator('resetForm', true);
            }).on('hide.bs.modal', function(e) {
                $('#role-form').hide().appendTo('body');
            }).modal('show');
        });

        $('input[type="checkbox"]').on('change', function() {
            var arr = $(this).attr('name').split('-'),
                checked = ($(this).is(":checked")) ? 1 : 0;
            
            $.ajax({
                url: "{{ path('admin_setting_role_update') }}",
                type: 'POST',
                data: {
                    route: arr[0],
                    role: arr[1],
                    checked: checked
                },
                context: this,
                success: function(res) {
                    if (res.status) {

                    } else {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-cog"></i> {{ 'setting roles'|trans }}</h2>
            <em>{{ 'configuration roles'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-default" href="{{ path('admin_role_list') }}">
                        <i class="fa fa-bars"></i> {{ 'role management'|trans }}
                    </a>
                    <a class="btn btn-success btn-add-role">
                        <i class="fa fa-plus-circle"></i> {{ 'add role'|trans }}
                    </a>
                </div>
            </div>

            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'module'|trans }}</th>
                        <th>{{ 'feature'|trans }}</th>
                        
                        {% for role in roles %}
                        <th class="rotate"><div><span>{{ role }}</span></div></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for module, resource in resources %}
                    {% for route, routeData in resource %}
                    <tr>
                        <td>{{ module|trans }}</td>
                        <td>{{ routeData.name|trans }}</td>

                        {% if routeData.roles is defined %}
                            {% for role in roles %}
                                {% if role == 'ROLE_SUPER_ADMIN' %}
                                    <td><input type="checkbox" name="{{ route ~ '-' ~ role }}" checked disabled></td>
                                {% else %}
                                    <td><input type="checkbox" name="{{ route ~ '-' ~ role }}" {{ (role in routeData.roles) ? 'checked' : '' }}></td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for role in roles %}
                                {% if role == 'ROLE_SUPER_ADMIN' %}
                                    <td><input type="checkbox" name="{{ route ~ '-' ~ role }}" checked disabled></td>
                                {% else %}
                                    <td><input type="checkbox" name="{{ route ~ '-' ~ role }}"></td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

<form class="form-horizontal" id="role-form" action="{{ path('admin_role_add') }}" method="post" style="display: none">
    <div class="form-group required">
        <div class="col-md-12">
            <input class="form-control" type="text" name="role_name" placeholder="{{ 'enter a name'|trans }}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">{{ 'create'|trans }}</button>
            </div>
        </div>
</form>
{% endblock %}
