{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    Dashboard :: Admin Area
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-area-chart"></i> {{ 'dashboard'|trans }}</h2>
            <em>{{ 'the priority information'|trans }}</em>
        </div>
    </div>
</div>
{% endblock %}