{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'email template management'|trans }}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-check-circle-o"></i> {{ 'email template management'|trans }}</h2>
            <em>{{ 'edit email templates'|trans }}</em>
        </div>

        <div class="main-content">
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'file name'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.name }}</td>
                        <td class="text-right" width="50">
                            <a class="btn btn-default btn-xs" href="{{ path('admin_email_template_edit', {path: file.path|url_encode }) }}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
