{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'email template management'|trans }}
{% endblock %}

{% block css %}
<style type="text/css">
    #editor {
        height: 400px;
    }
</style>
{% endblock %}

{% block js %}
<script src="{{ asset('ace-code-editor/ace.js') }}" charset="utf-8"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/twig");

        $('.btn-save').click(function() {
            $.ajax({
                url: "{{ path('admin_email_template_edit', {path: path}) }}",
                type: 'POST',
                async: false,
                data: {
                    content: editor.getValue()
                },
                context: this,
                success: function(res) {
                    if (res.status) {
                        window.location = "{{ path('admin_email_template_list') }}";
                    } else {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-pencil-square-o"></i> {{ 'edit template'|trans ~ ': ' ~ name }}</h2>
            <em>{{ 'edit email templates'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{{ path('admin_email_template_list') }}">
                        <i class="fa fa-arrow-circle-left"></i> {{ 'email template list'|trans }}
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <div id="editor">{{ content }}</div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <button class="btn btn-primary btn-save">{{ 'save'|trans }}</button>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
