{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'inge admin'|trans }}
{% endblock %}

{% block css %}
<style type="text/css">
body {
    background: url("{{ asset('brescia2/images/bg-03.jpg') }}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

/*  Login page CSS  */
.login-container {
    margin: 100px auto;
    text-align: center;
}
.login-container .login-header {
    background: #f2f2f2;
    padding: 10px 5px;
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 2px 2px 0 0;
}
.login-container .login-info {
    padding: 20px 25px;
}
.login-container .login-wrapper {
    background: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.login-container .login-wrapper h5 {
    margin-top: 30px;
}
.login-container a.fb-btn {
    width: 300px;
    height: 48px;
    margin: 20px auto;
    padding: 0;
}
.login-container form {
    padding: 20px 25px;
}
.login-container .form-control {
    height: 48px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
}
.login-container .form-control:focus {
    border: 1px solid #a4c2dc;
}
.login-container .form-control-feedback {
    font-size: 24px;
    top: 34px;
    color: #4d4d4d;
}
.login-container .form-group label {
    text-align: left !important;
    display: block;
}
.login-container a {
    padding: 15px;
    display: block;
}
.login-container a.underline {
    text-decoration: underline; 
}
</style>
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-push-4 col-md-4 col-sm-push-3 col-sm-6 col-sx-12">
            <div class="login-container">
                <div class="login-wrapper animated flipInY">

                    <div class="login-header">
                        <h4>{{ 'sign in'|trans }}</h4>
                    </div>

                    {% if error %}
                    <div class="login-info">
                        <div class="alert alert-danger">
                            {{ error.message | replace({"Bad credentials": "invalid username/password"|trans ~ "."}) }}
                        </div>
                    </div>
                    {% endif %}
                    
                    {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="login-info">
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    </div>
                    {% endfor %}

                    <form action="{{ path('admin_login_check') }}" method="post">
                        <div class="form-group has-feedback">
                            <label class="control-label" for="username">{{ 'username'|trans }}</label>
                            <input type="text" class="form-control" id="username" name="_username" placeholder="{{ 'username'|trans }}" autofocus="">
                            <i class="fa fa-user text-info form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="password">{{ 'password'|trans }}</label>
                            <input type="password" class="form-control" id="password" name="_password" placeholder="**********">
                            <i class="fa fa-key text-danger form-control-feedback"></i>
                        </div>
                        <input type="submit" value="{{ 'login'|trans }}" class="btn btn-danger btn-lg btn-block">
                        <a href="{{ path('frontend_home') }}">{{ 'return homepage'|trans }}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}