{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'mime type management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootbox/bootbox.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#mime-type-form').bootstrapValidator({
            fields: {
                extension: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'extension is required'|trans }}"
                        }
                    }
                },
                mime_type: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'mime type is required'|trans }}"
                        }
                    }
                },
            }
        });

        // add new mime type
        $('.btn-add').click(function() {
            $('#mime-type-form').attr('action', "{{ path('admin_mime_type_add') }}");
            $('#mime-type-form button').html("{{ 'add'|trans }}");

            bootbox.dialog({
                message: $('#mime-type-form'),
                title: "{{ 'add mime type'|trans }}",
                show: false
            }).on('shown.bs.modal', function() {
                $('#mime-type-form').show().bootstrapValidator();
            }).on('hide.bs.modal', function(e) {
                $('#mime-type-form').hide().appendTo('body');
            }).modal('show');
        });

        // edit mime type
        $('.btn-edit').click(function() {
            $('#mime-type-form').attr('action', $(this).attr('data-link'));
            $('#mime-type-form input[name="extension"]').val($(this).attr('data-extension'));
            $('#mime-type-form input[name="mime_type"]').val($(this).attr('data-mimetype'));

            bootbox.dialog({
                message: $('#mime-type-form'),
                title: "{{ 'update mime type'|trans }}",
                show: false
            }).on('shown.bs.modal', function() {
                $('#mime-type-form').show().bootstrapValidator();
            }).on('hide.bs.modal', function(e) {
                $('#mime-type-form').hide().appendTo('body');
            }).modal('show');
        });

        // delete mime tpye
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'comfirm delete'|trans }}: " + $(this).attr('data-extension') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'POST',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-check-circle-o"></i> {{ 'mime type management'|trans }}</h2>
            <em>{{ 'create, update & delete custom roles'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_setting') }}">
                        <i class="fa fa-arrow-circle-left"></i> {{ 'settings'|trans }}
                    </a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-success btn-add">
                        <i class="fa fa-plus-circle"></i> {{ 'add mime type'|trans }}
                    </a>
                </div>
            </div>

            <hr>
            {% if mimeTypes|length > 0 %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'extension'|trans }}</th>
                        <th>{{ 'MIME type'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for mt in mimeTypes %}
                    <tr>
                        <td>{{ mt.extension }}</td>
                        <td>{{ mt.mimeType }}</td>
                        <td class="text-right" width="90">
                            <a class="btn btn-default btn-xs btn-edit" data-link="{{ path('admin_mime_type_edit', {id: mt.id}) }}" data-extension="{{ mt.extension }}" data-mimetype="{{ mt.mimeType }}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a class="btn btn-default btn-xs btn-delete" data-url="{{ path('admin_mime_type_delete', {id: mt.id}) }}" data-extension="{{ mt.extension }}" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<form class="form-horizontal" id="mime-type-form" action="#" method="post" style="display: none">
    <div class="form-group required">
        <div class="col-md-12">
            <label class="control-label">{{ 'extension'|trans }}</label>
            <input class="form-control" type="text" name="extension" placeholder="{{ 'enter a text'|trans }}"/>
        </div>
    </div>
    <div class="form-group required">
        <div class="col-md-12">
            <label class="control-label">{{ 'mime type'|trans }}</label>
            <input class="form-control" type="text" name="mime_type" placeholder="{{ 'enter a text'|trans }}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">{{ 'update'|trans }}</button>
        </div>
    </div>
</form>
{% endblock %}
