{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    404 - not found page
{% endblock %}

{% block header %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    <div class="content text-center">
        <h3>404 - Not found</h3>
        <p>Please <a href="{{ path('frontend_home') }}">go back</a>.</p>
    </div>
{% endblock %}