{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'role management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootbox/bootbox.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#role-form').bootstrapValidator({
            fields: {
                role_name: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'name is required'|trans }}"
                        }
                    }
                },
            }
        });

        $('.btn-update').click(function() {
            $('#role-form').attr('action', $(this).attr('data-link'));
            $('#role-form input[name="role_name"]').val($(this).attr('data-name'));

            bootbox.dialog({
                message: $('#role-form'),
                title: "{{ 'update custom role'|trans }}",
                show: false
            }).on('shown.bs.modal', function() {
                $('#role-form').show().bootstrapValidator();
            }).on('hide.bs.modal', function(e) {
                $('#role-form').hide().appendTo('body');
            }).modal('show');
        });

        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'comfirm delete'|trans }}: " + $(this).attr('data-name') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'POST',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-check-circle-o"></i> {{ 'role management'|trans }}</h2>
            <em>{{ 'create, update & delete custom roles'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{{ path('admin_setting_role') }}">
                        <i class="fa fa-arrow-circle-left"></i> {{ 'setting roles'|trans }}
                    </a>
                </div>
            </div>

            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'role name'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.name }}</td>
                        <td class="text-right" width="90">
                            <a class="btn btn-default btn-xs btn-update" data-link="{{ path('admin_role_edit', {id: role.id}) }}" data-name="{{ role.name }}">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a class="btn btn-default btn-xs btn-delete" data-url="{{ path('admin_role_delete', {id: role.id}) }}" data-name="{{ role.name }}" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<form class="form-horizontal" id="role-form" action="#" method="post" style="display: none">
    <div class="form-group required">
        <div class="col-md-12">
            <input class="form-control" type="text" name="role_name" placeholder="{{ 'enter a name'|trans }}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">{{ 'update'|trans }}</button>
        </div>
    </div>
</form>
{% endblock %}
