{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'setting system'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('select2-3.5.1/select2.css') }}" rel="stylesheet"/>
<link href="{{ asset('select2-3.5.1/select2-bootstrap.css') }}" rel="stylesheet"/>
<link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{{ asset('select2-3.5.1/select2.js') }}"></script>
<script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-cog"></i> {{ 'setting system'|trans }}</h2>
            <em>{{ 'configuration cms'|trans }}</em>
        </div>

        <div class="main-content">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-md-8">{{ 'key'|trans }}</th>
                                <th>{{ 'value'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bundle in bundles %}
                                {{ include('Inge' ~ bundle ~ 'Bundle:components:setting.html.twig') }}
                            {% endfor %}

                            <tr>
                                <td>
                                    <h4>{{ 'custom email transport'|trans }}</h4>
                                    <p>
                                        <small>{{ 'email transport configuration'|trans }}</small>
                                    </p>
                                </td>
                                <td>
                                    <p>{{ 'check send test email configuration below correct to save' }}</p>
                                    <input class="form-control" type="text" id="email_setting_email_test" placeholder="{{ 'enter an email for test'|trans }}"/>
                                    <br>
                                    <button class="btn btn-primary btn-xs btn-test-email">{{ 'test send email'|trans }}</button>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ 'host'|trans }}</td>
                                <td><input class="form-control" type="text" id="email_setting_host"></td>
                            </tr>
                            <tr>
                                <td>{{ 'port'|trans }}</td>
                                <td><input class="form-control" type="text" id="email_setting_port"></td>
                            </tr>
                            <tr>
                                <td>{{ 'encryption'|trans }}</td>
                                <td><input class="form-control" type="text" id="email_setting_encryption"></td>
                            </tr>
                            <tr>
                                <td>{{ 'username'|trans }}</td>
                                <td><input class="form-control" type="text" id="email_setting_username"></td>
                            </tr>
                            <tr>
                                <td>{{ 'password'|trans }}</td>
                                <td><input class="form-control" type="text" id="email_setting_password"></td>
                            </tr>

                            <script type="text/javascript">
                                var initConfigEmail = function() {
                                    $.ajax({
                                        url: "{{ path('admin_setting_get_value') }}",
                                        type: 'GET',
                                        data: {
                                            area: 'all',
                                            type: 'email'
                                        },
                                        dataType: 'json',
                                        success: function(res) {
                                            if (res.status) {
                                                if (res.data) {
                                                    $.each(res.data, function(i) {
                                                        $('#email_setting_' + i).val(res.data[i]);
                                                    });
                                                }
                                            } else {
                                                alert("{{ 'faile'|trans }}.");
                                            }
                                        },
                                        error: function() {
                                            alert("{{ 'server error'|trans }}.");
                                        }
                                    });
                                };

                                $(document).ready(function() {
                                    initConfigEmail();

                                    $('.btn-test-email').click(function() {
                                        var host        = $('#email_setting_host').val(),
                                            port        = $('#email_setting_port').val(),
                                            encryption  = $('#email_setting_encryption').val(),
                                            username    = $('#email_setting_username').val(),
                                            password    = $('#email_setting_password').val(),
                                            email_test  = $('#email_setting_email_test').val();

                                        $.ajax({
                                            url: "{{ path('admin_setting_test_send_email') }}",
                                            type: 'POST',
                                            async: false,
                                            data: {
                                                host: host,
                                                port: port,
                                                encryption: encryption,
                                                username: username,
                                                password: password,
                                                email_test: email_test
                                            },
                                            context: this,
                                            success: function(res) {
                                                if (res.status) {
                                                    alert(res.msg);
                                                } else {
                                                    alert(res.msg);
                                                }
                                            },
                                            error: function() {
                                                alert("{{ 'server error'|trans }}.");
                                            }
                                        });

                                    });
                                });
                                </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}