{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Calendar
{% endblock %}

{% block css %}
<link href="{{ asset('brescia2/plugins/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
<link href="{{ asset('brescia2/plugins/owl-carousel/owl.theme.css') }}" rel="stylesheet">

<style type="text/css">
body {
  background: url("{{ asset('brescia2/images/bg-02.jpg') }}") center top no-repeat !important;
}
</style>
{% endblock %}

{% block body %}
  class="calendario parallax"
{% endblock %}

{% block js %}
<script src="plugins/owl-carousel/owl.carousel.js"></script>
<script src="js/jquery.tinyscrollbar.js"></script>

<script>
  $(function() {
    $('.custom-owl-prev').click(function() {
      var owl = $(".owl-carousel").data('owlCarousel');
      owl.prev();
    });
    $('.custom-owl-next').click(function() {
      var owl = $(".owl-carousel").data('owlCarousel');
      owl.next();
    });
  });
  $(document).ready(function()
  {
    $('.calenda-grid li').each(function() {
      $(this).height($(this).width());
    });
    $(window).resize(function()
    {
      $('.calenda-grid li').each(function() {
        $(this).height($(this).width());
      });
    });
  });
</script>
<script type="text/javascript">
  /*
  document.getElementById('login-button').onclick = function (){
  document.getElementById('login-popup').className('login-popup show');
  */

  $(document).ready( function (){
    loginBtn = $('#button-dropdown');
    dropdow = $('#login-dropdow');
    input = $('#login-dropdow input:first');
    loginBtn.click( function(){
      if ( dropdow.hasClass('showed') ){
        loginBtn.removeClass('showed');
        dropdow.removeClass('showed');
      } else{
        loginBtn.addClass('showed');
        dropdow.addClass('showed');
        input.focus();
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="content-title">

    <h2>
      CALENDARIO/<span class="month-name"><span class="fontbold">SETTEMBRE</span>2014<span>
    </h2>

  </div>
</div>  
<div class="calendario-box-wrapper">
  <div class="container">
    <div class="row p40 width-content">
      <div class="col-md-8 col-xs-12 calendario-box">
        <ul class="calenda-grid">
          <li><span class="day-lable">1</span></li>
          <li><span class="day-lable">2</span></li>
          <li class="event"><span class="day-lable">3</span><div class="selected"></div></li>
          <li><span class="day-lable">4</span></li>
          <li><span class="day-lable">5</span></li>
          <li><span class="day-lable">6</span></li>
          <li><span class="day-lable">7</span></li>
        </ul>
        <ul class="calenda-grid">
          <li><span class="day-lable">8</span></li>
          <li><span class="day-lable">9</span></li>
          <li><span class="day-lable">10</span></li>
          <li class="event select"><span class="day-lable">11</span><div class="selected"></div></li>
          <li class="event"><span class="day-lable">12</span><div class="selected"></div></li>
          <li><span class="day-lable">13</span></li>
          <li><span class="day-lable">14</span></li>
        </ul>
        <ul class="calenda-grid">
          <li class="event"><span class="day-lable">15</span><div class="selected"></div></li>
          <li class="event"><span class="day-lable">16</span><div class="selected"></div></li>
          <li class="event"><span class="day-lable">17</span><div class="selected"></div></li>
          <li><span class="day-lable">18</span></li>
          <li><span class="day-lable">19</span></li>
          <li><span class="day-lable">20</span></li>
          <li><span class="day-lable">21</span></li>
        </ul>
        <ul class="calenda-grid">
          <li><span class="day-lable">22</span></li>
          <li><span class="day-lable">23</span></li>
          <li class="event"><span class="day-lable">3</span><div class="selected"></div></li>
          <li><span class="day-lable">24</span></li>
          <li><span class="day-lable">25</span></li>
          <li><span class="day-lable">26</span></li>
          <li><span class="day-lable">27</span></li>
        </ul>
        <ul class="calenda-grid">
          <li><span class="day-lable">28</span></li>
          <li><span class="day-lable">29</span></li>
          <li class="event"><span class="day-lable">30</span><div class="selected"></div></li>
          <li class="no-day"><span class="day-lable"></span></li>
          <li class="no-day"><span class="day-lable"></span></li>
          <li class="no-day"><span class="day-lable"></span></li>
          <li class="no-day"><span class="day-lable"></span></li>
        </ul>
        <br/>
        <br/>
      </div>
      <div class="col-md-4 col-xs-12">
        <h3 class="title-bottom">EVENTI DI_<span class="month-name">GIOVEDì 4 SETTEMBRE 2014<span></h3>
        <div class="calenda-box-wrapper">
          <div class="doc-box" style="padding-top:50px">
            <a href="#">
              <div class="doc-box-icon-more">
              </div>
              <div class="doc-box-download-info">
                <p class="name">EVENTO NUMERO 1</p>
                <p class="size">ORE 20.00 - CASTELLO DI BRESCIA</p>
              </div>
            </a>
          </div>
          <div class="doc-box">
            <a href="#">
              <div class="doc-box-icon-more">
              </div>
              <div class="doc-box-download-info">
                <p class="name">EVENTO NUMERO 1</p>
                <p class="size">ORE 20.00 - CASTELLO DI BRESCIA</p>
              </div>
            </a>
          </div>
          <div class="doc-box">
            <a href="#">
              <div class="doc-box-icon-more">
              </div>
              <div class="doc-box-download-info">
                <p class="name">EVENTO NUMERO 1</p>
                <p class="size">ORE 20.00 - CASTELLO DI BRESCIA</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-owl-prev"></div>
    <div class="custom-owl-next"></div> 
  </div>
{% endblock %}