{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Commissioni Memberi
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #17709a;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <h2>
          COMMISSIIONI
        </h2>
      </div>
    </div>  
    <div class="commissioni-box-wrapper">
      <div class="container">
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  Tutte le commissioni
                  <span style="padding-left:6px"><i class="fa fa-angle-down"></i></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon scambio">
              </div>
              <div class="commissioni-box-info">
                <a href="#">SCAMBIO DOCUMENTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon download">
              </div>
              <div class="commissioni-box-info">
                <a href="#">DOWNLOAD DOCUMENTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon membri select">
              </div>
              <div class="commissioni-box-info select">
                <a href="#">MEMBRI E CONTATTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon mansionari">
              </div>
              <div class="commissioni-box-info">
                <a href="#">MANSIONARI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon elenco">
              </div>
              <div class="commissioni-box-info">
                <a href="#">ELENCO ATTIVITA’</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="row membri-listing-area">
              <div class="col-sm-7 col-xs-12">
                <ul class="membri-list">
                  <li class="select"><a href="#">Tizio Caio 1</a></li>
                  <li><a href="#">Tizio Caio 2</a></li>
                  <li><a href="#">Tizio Caio 3</a></li>
                  <li><a href="#">Tizio Caio 4</a></li>
                  <li><a href="#">Tizio Caio 5</a></li>
                  <li><a href="#">Tizio Caio 6</a></li>
                  <li><a href="#">Tizio Caio 7</a></li>
                  <li><a href="#">Tizio Caio 8</a></li>
                </ul>
              </div>
              <div class="col-sm-4 col-xs-12 membri-info">
                <p><span class="col1-formazione bold-900">CARICA</span>Lorem ipsum.</p>
                <p class="m20"><span class="col1-formazione bold-900">TELEFONO</span>338 6548000</p>
                <p class="m-10"><span class="col1-formazione bold-900">EMAIL</span>tiziocaio@ingbs.it</p>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}