{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Commissioni Elenco
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #17709a;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <h2>
          COMMISSIIONI
        </h2>
      </div>
    </div>  
    <div class="commissioni-box-wrapper">
      <div class="container">
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  Tutte le commissioni
                  <span style="padding-left:6px"><i class="fa fa-angle-down"></i></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon scambio">
              </div>
              <div class="commissioni-box-info">
                <a href="#">SCAMBIO DOCUMENTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon download">
              </div>
              <div class="commissioni-box-info">
                <a href="#">DOWNLOAD DOCUMENTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon membri">
              </div>
              <div class="commissioni-box-info">
                <a href="#">MEMBRI E CONTATTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon mansionari">
              </div>
              <div class="commissioni-box-info">
                <a href="#">MANSIONARI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon elenco select">
              </div>
              <div class="commissioni-box-info select">
                <a href="#">ELENCO ATTIVITA’</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-8 col-xs-12">
            <div class="ittivita-listing-area">
                <div id="attivitaScrollbar">
                  <div class="scrollbar">
                    <div class="track">
                        <div class="thumb">
                            <div class="end">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="viewport">
                      <div class="overview">
                          <h3>ATTIVITA 1</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non. Nulla ac augue ac quam rhoncus molestie at at diam. Quisque id nisl cursus, pretium neque et, viverra nibh. Donec vehicula lacinia posuere. In quis semper lacus, sit amet fringilla justo. In porttitor posuere faucibus.</p>
                          <h3>ATTIVITA 2</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non. Nulla ac augue ac quam rhoncus molestie at at diam. Quisque id nisl cursus, pretium neque et, viverra nibh. Donec vehicula lacinia posuere. In quis semper lacus, sit amet fringilla justo. In porttitor posuere faucibus.</p>
                          <h3>ATTIVITA 3</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non. Nulla ac augue ac quam rhoncus molestie at at diam. Quisque id nisl cursus, pretium neque et, viverra nibh. Donec vehicula lacinia posuere. In quis semper lacus, sit amet fringilla justo. In porttitor posuere faucibus.</p>
                          <div style="clear: both"></div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}