{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Commissioni Download
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #17709a;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <h2>
          COMMISSIIONI
        </h2>
      </div>
    </div>  
    <div class="commissioni-box-wrapper">
      <div class="container">
        <div class="row">
          <div class="form-group">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown">
                  Tutte le commissioni
                  <span style="padding-left:6px"><i class="fa fa-angle-down"></i></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon scambio">
              </div>
              <div class="commissioni-box-info">
                <a href="#">SCAMBIO DOCUMENTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon download select">
              </div>
              <div class="commissioni-box-info select">
                <a href="#">DOWNLOAD DOCUMENTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon membri">
              </div>
              <div class="commissioni-box-info">
                <a href="#">MEMBRI E CONTATTI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon mansionari">
              </div>
              <div class="commissioni-box-info">
                <a href="#">MANSIONARI</a>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="commissioni-box">
              <div class="commissioni-box-icon elenco">
              </div>
              <div class="commissioni-box-info">
                <a href="#">ELENCO ATTIVITA’</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-10">
            <p class="hr"></p>
            <div class="row">
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">MODULO ISCRIZIONE</p>
                      <p class="size">1,0 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">MODULO VALUTAZIONE</p>
                      <p class="size">1,2 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">MATERIALE PRE CORSO</p>
                      <p class="size">2,4 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">DISPENSE POST CORSO</p>
                      <p class="size">3,0 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">CALENDARIO CORSO</p>
                      <p class="size">0,4 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">MODULO ISCRIZIONE</p>
                      <p class="size">1,0 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">MODULO VALUTAZIONE</p>
                      <p class="size">1,2 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">MATERIALE PRE CORSO</p>
                      <p class="size">2,4 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">DISPENSE POST CORSO</p>
                      <p class="size">3,0 MB</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="doc-box">
                  <a href="#">
                    <div class="doc-box-icon-download">
                    </div>
                    <div class="doc-box-download-info">
                      <p class="name">CALENDARIO CORSO</p>
                      <p class="size">0,4 MB</p>
                    </div>
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}