{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Entie associazioni
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #f2f2f2;
}
</style>
{% endblock %}

{% block js %}
<script>
      $(function() {
        $('.custom-owl-prev').click(function() {
          var owl = $(".owl-carousel").data('owlCarousel');
          owl.prev();
        });
        $('.custom-owl-next').click(function() {
          var owl = $(".owl-carousel").data('owlCarousel');
          owl.next();
        });
      })
      $(function() {
        $('[rel-type="numero"]').click(function() {
          $('[rel-type="numero"]').removeClass("select");
          $(this).addClass("select");
          var ctrl = $(this).attr("rel-info-name");
          $('[rel-type="numero-info"]').hide();
          $('[rel-name="' + ctrl + '"]').show();
        });
      })
    </script>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <h2>
           ENTI<span class="f20">E</span>ASSOCIAZIONI/<span class="f20">LINK</span>
        </h2>
      </div>
    </div>  
    <div class="enti-box-wrapper">
      <div class="container">
        <div class="row custom-slider">
          <div class="col-lg-12">
            <div class="owl-carousel owl-carousel-spaced" data-plugin-options='{"items": 5, "singleItem": false, "autoHeight": true, "autoPlay":false, "navigation": true, "pagination": false}'>
              <div class="slide-item-wrapper">  
                <div class="slide-item select formazione" rel-name="numero-1" rel-info-name="numero-info-1" rel-type="numero">
                  <div class="title">
                    <p class="inner pt-8">LINK ASSOCIAZIONE 1</p>
                    <a href="#" class="btn-go"><img src="images/btn-go.png" alt=""></a>
                  </div>
                </div>
                <div class="description" rel-name="numero-info-1" rel-type="numero-info">
                  <strong class="uppercase">DESCRIZIONE</strong>
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, adipiscing a placerat sit amet, hendrerit a metus. Suspendisse adipiscing justo vitae diam fringilla malesuada. Nullam blandit et velit vel semper. In sit amet elit ut libero vehicula mattis. Pellentesque pharetra ultricies est eget pretium. Aenean nec elit vitae felis fringilla vehicula vitae eu augue. Sed nibh justo, consequat et metus a, lacinia rutrum mauris. In in nulla interdum, commodo tortor a, vehicula lorem. Etiam vitae congue eros. 
                </div>
              </div>
              <div class="slide-item-wrapper">  
                <div class="slide-item formazione" rel-name="numero-1" rel-info-name="numero-info-2" rel-type="numero">
                  <div class="title">
                    <p class="inner pt-8">LINK ASSOCIAZIONE 2</p>
                    <a href="#" class="btn-go"><img src="images/btn-go.png" alt=""></a>
                  </div>
                </div>
                <div class="description" rel-name="numero-info-2" rel-type="numero-info" style="display: none">
                  <strong class="uppercase">DESCRIZIONE</strong>
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, adipiscing a placerat sit amet, hendrerit a metus. Suspendisse adipiscing justo vitae diam fringilla malesuada. Nullam blandit et velit vel semper. In sit amet elit ut libero vehicula mattis. Pellentesque pharetra ultricies est eget pretium. Aenean nec elit vitae felis fringilla vehicula vitae eu augue. Sed nibh justo, consequat et metus a, lacinia rutrum mauris. In in nulla interdum, commodo tortor a, vehicula lorem. Etiam vitae congue eros. 
                </div>
              </div>
              <div class="slide-item-wrapper">  
                <div class="slide-item formazione" rel-name="numero-1" rel-info-name="numero-info-3" rel-type="numero">
                  <div class="title">
                    <p class="inner pt-8">LINK ASSOCIAZIONE 3</p>
                    <a href="#" class="btn-go"><img src="images/btn-go.png" alt=""></a>
                  </div>
                </div>
                <div class="description" rel-name="numero-info-3" rel-type="numero-info" style="display: none">
                  <strong class="uppercase">DESCRIZIONE</strong>
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, adipiscing a placerat sit amet, hendrerit a metus. Suspendisse adipiscing justo vitae diam fringilla malesuada. Nullam blandit et velit vel semper. In sit amet elit ut libero vehicula mattis. Pellentesque pharetra ultricies est eget pretium. Aenean nec elit vitae felis fringilla vehicula vitae eu augue. Sed nibh justo, consequat et metus a, lacinia rutrum mauris. In in nulla interdum, commodo tortor a, vehicula lorem. Etiam vitae congue eros. 
                </div>
              </div>
              <div class="slide-item-wrapper">  
                <div class="slide-item formazione" rel-name="numero-1" rel-info-name="numero-info-4" rel-type="numero">
                  <div class="title">
                    <p class="inner pt-8">LINK ASSOCIAZIONE 4</p>
                    <a href="#" class="btn-go"><img src="images/btn-go.png" alt=""></a>
                  </div>
                </div>
                <div class="description" rel-name="numero-info-4" rel-type="numero-info" style="display: none">
                  <strong class="uppercase">DESCRIZIONE</strong>
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, adipiscing a placerat sit amet, hendrerit a metus. Suspendisse adipiscing justo vitae diam fringilla malesuada. Nullam blandit et velit vel semper. In sit amet elit ut libero vehicula mattis. Pellentesque pharetra ultricies est eget pretium. Aenean nec elit vitae felis fringilla vehicula vitae eu augue. Sed nibh justo, consequat et metus a, lacinia rutrum mauris. In in nulla interdum, commodo tortor a, vehicula lorem. Etiam vitae congue eros. 
                </div>
              </div>
              <div class="slide-item-wrapper">  
                <div class="slide-item formazione" rel-name="numero-1" rel-info-name="numero-info-5" rel-type="numero">
                  <div class="title">
                    <p class="inner pt-8">LINK ASSOCIAZIONE 5</p>
                    <a href="#" class="btn-go"><img src="images/btn-go.png" alt=""></a>
                  </div>
                </div>
                <div class="description" rel-name="numero-info-5" rel-type="numero-info" style="display: none">
                  <strong class="uppercase">DESCRIZIONE</strong>
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, adipiscing a placerat sit amet, hendrerit a metus. Suspendisse adipiscing justo vitae diam fringilla malesuada. Nullam blandit et velit vel semper. In sit amet elit ut libero vehicula mattis. Pellentesque pharetra ultricies est eget pretium. Aenean nec elit vitae felis fringilla vehicula vitae eu augue. Sed nibh justo, consequat et metus a, lacinia rutrum mauris. In in nulla interdum, commodo tortor a, vehicula lorem. Etiam vitae congue eros. 
                </div>
              </div>
              <div class="slide-item-wrapper">  
                <div class="slide-item formazione" rel-name="numero-1" rel-info-name="numero-info-6" rel-type="numero">
                  <div class="title">
                    <p class="inner pt-8">LINK ASSOCIAZIONE 6</p>
                    <a href="#" class="btn-go"><img src="images/btn-go.png" alt=""></a>
                  </div>
                </div>
                <div class="description" rel-name="numero-info-6" rel-type="numero-info" style="display: none">
                  <strong class="uppercase">DESCRIZIONE</strong>
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus lacus, adipiscing a placerat sit amet, hendrerit a metus. Suspendisse adipiscing justo vitae diam fringilla malesuada. Nullam blandit et velit vel semper. In sit amet elit ut libero vehicula mattis. Pellentesque pharetra ultricies est eget pretium. Aenean nec elit vitae felis fringilla vehicula vitae eu augue. Sed nibh justo, consequat et metus a, lacinia rutrum mauris. In in nulla interdum, commodo tortor a, vehicula lorem. Etiam vitae congue eros. 
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="custom-owl-prev"></div>
      <div class="custom-owl-next"></div>
    </div>
{% endblock %}