{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  FAQ
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #a7bfcb;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-6">
            <h2>
              FAQ
            </h2>
            <a class="btn-faq" href="#"></a>
          </div>
        </div>
      </div>
    </div>  
    <div class="faq-box-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="faq-box">
              <h3 class="bold-900">DOMANDA NUMERO 1 ?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non. Nulla ac augue ac quam rhoncus molestie at at diam. Quisque id nisl cursus, pretium neque et, viverra nibh. Donec vehicula lacinia posuere. In quis semper lacus, sit amet fringilla justo. In porttitor posuere faucibus.
              Integer sed luctus nibh. Mauris congue quam nunc, vitae auctor nibh pellentesque quis. Suspendisse ut libero eu nulla feugiat fermentum.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-6">
            <div class="faq-box">
              <h3 class="bold-900">DOMANDA NUMERO 2 ?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-5  col-sm-6">
            <div class="faq-box">
              <h3 class="bold-900">DOMANDA NUMERO 3 ?</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non. Nulla ac augue ac quam rhoncus molestie at at diam. Quisque id nisl cursus, pretium neque et, viverra nibh. Donec vehicula lacinia posuere. In quis semper lacus, sit amet fringilla justo. In porttitor posuere faucibus.
              Integer sed luctus nibh. Mauris congue quam nunc, vitae auctor nibh pellentesque quis. Suspendisse ut libero eu nulla feugiat fermentum. </p>
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}