{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  {{ 'home'|trans }}
{% endblock %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block body %}
  class="home-wrapper parallax"
{% endblock %}

{% block content %}
<div class="main-home">
  <div class="custom-owl-prev"></div>
  <div class="custom-owl-next"></div>
  <div class="container">
    <div class="caption">
      <p>UN’IMPEGNO COSTANTE</p>
      <p>PER RIAFFERMARE L’IDENTITA’</p>
      <p>TA’ SOCIALE DELL’<span class="fontbold">INGEGNERE</span></p>
      <p>NELL’ IMMAGINARIO COLLETIVO.</p>
    </div>

    <div class="content-bottom">

      <h3 class="title-home">NOTIZIA N.1 <a class="p25" href="#"><img src="{{ asset('brescia2/images/icon-more.png') }}" alt=""></a></h3>
      <p class="pt-10 p25">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis aliquam nulla. Donec ac erat ipsum. Quisque laoreet nulla est, ac mattis risus commodo non. Nulla ac augue ac quam rhoncus molestie at at diam.
      </p>

    </div>
  </div>
</div>
{% endblock %}