{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  {{ 'news'|trans }}
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
  class="news-wrapper parallax"
{% endblock %}

{% block js %}
<script>
  $(function() {
    $('.custom-owl-prev').click(function() {
      var owl = $(".owl-carousel").data('owlCarousel');
      owl.prev();
    });
    $('.custom-owl-next').click(function() {
      var owl = $(".owl-carousel").data('owlCarousel');
      owl.next();
    });
  })
  $(document).ready(function()
  {
    var $scrollbar = $("#news-detail-scrollbar");
    $scrollbar.tinyscrollbar({ thumbSize: 15 });
    var scrollbar = $scrollbar.data("plugin_tinyscrollbar");
    $(window).resize(function()
    {
      scrollbar.update("relative");
    });
  });
  $(function() {        
    $('[rel-type="news"]').click(function() {          
      $('[rel-type="news"]').removeClass("select");
      $(this).addClass("select");
      var ctrl = $(this).attr("rel-info-name");
      $('[rel-type="news-info"]').hide();
      $('[rel-name="' + ctrl + '"]').show();
    });
  })
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="content-title">
    <h2>NEWS</h2>
  </div>
</div>
<div class="news-box-wrapper">
  <div class="container">
    <div class="row custom-slider">
      <div class="col-lg-12">
        <div class="owl-carousel owl-carousel-spaced" data-plugin-options='{"items": 5, "singleItem": false, "autoHeight": true, "autoPlay":false, "navigation": true, "pagination": false}'>
        {% for i, articleData in articles %}
          <div class="slide-item formazione" rel-name="news-{{ i }}" rel-info-name="news-info-{{ i }}" rel-type="news">
            <div class="news-description">
              {{ articleData.content|striptags|slice(0, 180) }}...
            </div>
            <div class="title">
              <p class="type pt-9">NEWS</p>
              <p class="inner pt-12">{{ articleData.title }}</p>
              <a href="javascript:;" class="btn-show-news-detail"><img src="{{ asset('brescia2/images/icon-btn-detail.png') }}" alt=""></a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="custom-owl-prev"></div>
      <div class="custom-owl-next"></div>
    </div>
    <div rel-type="news-info" rel-name="news-info-1">
      <div class="row p70">
        <div class="col-md-5 col-sm-6">
          <h3 class="pt-14 title-bottom">{{ article.title }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="news-detail-area">
            <div id="news-detail-scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end">
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  {{ article.content|raw }}
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-0">
        </div>
        <div class="col-md-5 col-sm-6 news-tag-area" >
          {% for cate in categories %}
          <div class="news-tag">
            <a href="#">{{ cate.name }}</a>
          </div>
          {% endfor %}
          <div class="news-download">
            <a href="#">SCARICA LA NOTIZIA</a>
          </div>
        </div>
      </div>
    </div>
    <div rel-type="news-info" rel-name="news-info-2" style="display:none;">
      <div class="row p70">
        <div class="col-md-5">
          <h3 class="pt-14 title-bottom">NEWS NUMERO 2</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="news-detail-area">
            <div id="news-detail-scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end">
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illo quibusdam aliquid assumenda debitis! Deleniti natus tempora quam totam rerum numquam minus quod perferendis, accusamus sint nihil incidunt in voluptate fugiat deserunt, fugit animi rem sequi excepturi veritatis omnis nemo? Veritatis culpa quibusdam, quas quod optio ullam blanditiis deleniti ad odio quo natus necessitatibus nulla voluptas aliquam corporis, libero sapiente numquam magnam quia soluta nam officia! Dolores at reprehenderit, laboriosam placeat temporibus neque eligendi, vitae excepturi debitis sequi ex omnis eaque a consequuntur aliquid nemo natus consectetur, expedita minus iure labore, blanditiis! Quidem provident quasi, recusandae accusantium enim, repudiandae minus eius perspiciatis velit iusto laborum amet aspernatur, quaerat cumque perferendis ullam id magnam, accusamus ratione debitis! Hic molestias, architecto, magni numquam neque iste temporibus corrupti nemo nihil maiores nobis aperiam, cum sunt recusandae. Nisi nihil at quisquam consectetur provident et aliquam in incidunt, eius nesciunt error tempora deserunt modi expedita!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-0">
        </div>
        <div class="col-md-5 col-sm-6 news-tag-area" >
          <div class="news-tag">
            <a href="#">LINK UTILE1</a>
          </div>
          <div class="news-tag">
            <a href="#">LINK UTILE2</a>
          </div>
          <div class="news-download">
            <a href="#">SCARICA LA NOTIZIA</a>
          </div>
        </div>
      </div>
    </div>
    <div rel-type="news-info" rel-name="news-info-3" style="display:none;">
      <div class="row p70">
        <div class="col-md-5">
          <h3 class="pt-14 title-bottom">NEWS NUMERO 3</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="news-detail-area">
            <div id="news-detail-scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end">
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illo quibusdam aliquid assumenda debitis! Deleniti natus tempora quam totam rerum numquam minus quod perferendis, accusamus sint nihil incidunt in voluptate fugiat deserunt, fugit animi rem sequi excepturi veritatis omnis nemo? Veritatis culpa quibusdam, quas quod optio ullam blanditiis deleniti ad odio quo natus necessitatibus nulla voluptas aliquam corporis, libero sapiente numquam magnam quia soluta nam officia! Dolores at reprehenderit, laboriosam placeat temporibus neque eligendi, vitae excepturi debitis sequi ex omnis eaque a consequuntur aliquid nemo natus consectetur, expedita minus iure labore, blanditiis! Quidem provident quasi, recusandae accusantium enim, repudiandae minus eius perspiciatis velit iusto laborum amet aspernatur, quaerat cumque perferendis ullam id magnam, accusamus ratione debitis! Hic molestias, architecto, magni numquam neque iste temporibus corrupti nemo nihil maiores nobis aperiam, cum sunt recusandae. Nisi nihil at quisquam consectetur provident et aliquam in incidunt, eius nesciunt error tempora deserunt modi expedita!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-0">
        </div>
        <div class="col-md-5 col-sm-6 news-tag-area" >
          <div class="news-tag">
            <a href="#">LINK UTILE1</a>
          </div>
          <div class="news-tag">
            <a href="#">LINK UTILE2</a>
          </div>
          <div class="news-download">
            <a href="#">SCARICA LA NOTIZIA</a>
          </div>
        </div>
      </div>
    </div>
    <div rel-type="news-info" rel-name="news-info-4" style="display:none;">
      <div class="row p70">
        <div class="col-md-5">
          <h3 class="pt-14 title-bottom">NEWS NUMERO 4</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="news-detail-area">
            <div id="news-detail-scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end">
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illo quibusdam aliquid assumenda debitis! Deleniti natus tempora quam totam rerum numquam minus quod perferendis, accusamus sint nihil incidunt in voluptate fugiat deserunt, fugit animi rem sequi excepturi veritatis omnis nemo? Veritatis culpa quibusdam, quas quod optio ullam blanditiis deleniti ad odio quo natus necessitatibus nulla voluptas aliquam corporis, libero sapiente numquam magnam quia soluta nam officia! Dolores at reprehenderit, laboriosam placeat temporibus neque eligendi, vitae excepturi debitis sequi ex omnis eaque a consequuntur aliquid nemo natus consectetur, expedita minus iure labore, blanditiis! Quidem provident quasi, recusandae accusantium enim, repudiandae minus eius perspiciatis velit iusto laborum amet aspernatur, quaerat cumque perferendis ullam id magnam, accusamus ratione debitis! Hic molestias, architecto, magni numquam neque iste temporibus corrupti nemo nihil maiores nobis aperiam, cum sunt recusandae. Nisi nihil at quisquam consectetur provident et aliquam in incidunt, eius nesciunt error tempora deserunt modi expedita!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-0">
        </div>
        <div class="col-md-5 col-sm-6 news-tag-area" >
          <div class="news-tag">
            <a href="#">LINK UTILE1</a>
          </div>
          <div class="news-tag">
            <a href="#">LINK UTILE2</a>
          </div>
          <div class="news-download">
            <a href="#">SCARICA LA NOTIZIA</a>
          </div>
        </div>
      </div>
    </div>
    <div rel-type="news-info" rel-name="news-info-5" style="display:none;">
      <div class="row p70">
        <div class="col-md-5">
          <h3 class="pt-14 title-bottom">NEWS NUMERO 5</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="news-detail-area">
            <div id="news-detail-scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end">
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illo quibusdam aliquid assumenda debitis! Deleniti natus tempora quam totam rerum numquam minus quod perferendis, accusamus sint nihil incidunt in voluptate fugiat deserunt, fugit animi rem sequi excepturi veritatis omnis nemo? Veritatis culpa quibusdam, quas quod optio ullam blanditiis deleniti ad odio quo natus necessitatibus nulla voluptas aliquam corporis, libero sapiente numquam magnam quia soluta nam officia! Dolores at reprehenderit, laboriosam placeat temporibus neque eligendi, vitae excepturi debitis sequi ex omnis eaque a consequuntur aliquid nemo natus consectetur, expedita minus iure labore, blanditiis! Quidem provident quasi, recusandae accusantium enim, repudiandae minus eius perspiciatis velit iusto laborum amet aspernatur, quaerat cumque perferendis ullam id magnam, accusamus ratione debitis! Hic molestias, architecto, magni numquam neque iste temporibus corrupti nemo nihil maiores nobis aperiam, cum sunt recusandae. Nisi nihil at quisquam consectetur provident et aliquam in incidunt, eius nesciunt error tempora deserunt modi expedita!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-0">
        </div>
        <div class="col-md-5 col-sm-6 news-tag-area" >
          <div class="news-tag">
            <a href="#">LINK UTILE1</a>
          </div>
          <div class="news-tag">
            <a href="#">LINK UTILE2</a>
          </div>
          <div class="news-download">
            <a href="#">SCARICA LA NOTIZIA</a>
          </div>
        </div>
      </div>
    </div>
    <div rel-type="news-info" rel-name="news-info-6" style="display:none;">
      <div class="row p70">
        <div class="col-md-5">
          <h3 class="pt-14 title-bottom">NEWS NUMERO 6</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="news-detail-area">
            <div id="news-detail-scrollbar">
              <div class="scrollbar">
                <div class="track">
                  <div class="thumb">
                    <div class="end">
                    </div>
                  </div>
                </div>
              </div>
              <div class="viewport">
                <div class="overview">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illo quibusdam aliquid assumenda debitis! Deleniti natus tempora quam totam rerum numquam minus quod perferendis, accusamus sint nihil incidunt in voluptate fugiat deserunt, fugit animi rem sequi excepturi veritatis omnis nemo? Veritatis culpa quibusdam, quas quod optio ullam blanditiis deleniti ad odio quo natus necessitatibus nulla voluptas aliquam corporis, libero sapiente numquam magnam quia soluta nam officia! Dolores at reprehenderit, laboriosam placeat temporibus neque eligendi, vitae excepturi debitis sequi ex omnis eaque a consequuntur aliquid nemo natus consectetur, expedita minus iure labore, blanditiis! Quidem provident quasi, recusandae accusantium enim, repudiandae minus eius perspiciatis velit iusto laborum amet aspernatur, quaerat cumque perferendis ullam id magnam, accusamus ratione debitis! Hic molestias, architecto, magni numquam neque iste temporibus corrupti nemo nihil maiores nobis aperiam, cum sunt recusandae. Nisi nihil at quisquam consectetur provident et aliquam in incidunt, eius nesciunt error tempora deserunt modi expedita!</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui fugit asperiores, quibusdam voluptatibus earum, laborum dolorum quam natus distinctio laboriosam. Iste aliquid, expedita, adipisci facilis quisquam quo debitis nisi.</p>
                  <div style="clear: both"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-0">
        </div>
        <div class="col-md-5 col-sm-6 news-tag-area" >
          <div class="news-tag">
            <a href="#">LINK UTILE1</a>
          </div>
          <div class="news-tag">
            <a href="#">LINK UTILE2</a>
          </div>
          <div class="news-download">
            <a href="#">SCARICA LA NOTIZIA</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}