{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Press
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #67b8b1;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <h2>
          PRESS
        </h2>
      </div>
    </div>  
    <div class="press-box-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="press-box">
              <div class="press-box-icon camera">
              </div>
              <div class="press-box-info">
                <a href="#">DOWNLOAD IMMAGINI</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="press-box">
              <div class="press-box-icon video-camera">
              </div>
              <div class="press-box-info">
                <a href="#">DOWNLOAD VIDEO</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="press-box">
              <div class="press-box-icon news">
              </div>
              <div class="press-box-info">
                <a href="#">NEWS</a>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}