{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Servizi
{% endblock %}

{% block css %}
<style type="text/css">
body {
    background-color: #058e96;
}
</style>
{% endblock %}

{% block content %}

 <div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="content-title">
        <h2>
          SERVIZI/<span class="fontbold">SEGRETERIA</span>
        </h2>
      </div>
    </div>  
    <div class="servizi-box-wrapper">
      <div class="container">
        <div class="row info">
          <div class="col-sm-1 col-xs-2 pt-10">
            <strong class="servizi-info">SEDE</strong>
          </div>
          <div class="col-sm-11 col-xs-10">
            <p>Via Cefalonia, 70</p>
            <p class="break">i-25124 brescia</p>
            <p class="break">fermata “brescia 2” della metropolitana</p>
            <p><strong>Telefono e fax</strong></p>
            <p>centralino 030 2294.711</p>
            <p class="break">fax 030 2294.722</p>
            <p>info@ordineingegneri.bs.it </p>
            <p><strong>PEC</strong> segreteria@bs.ingegneri.legalmail.it</p>

          </div>
        </div>
        <div class="row info">
          <div class="col-md-7 form-oradi">
            <div class="row">
              <div class="col-sm-12 pt-10 p55">
                <strong class="servizi-info">ORARI DI SEGRETERIA</strong>
              </div>
              <div class="col-md-4 col-xs-12 p45">
                  <div>&nbsp;</div>
                  <div class="m10 pt-9">
                    <strong class="dark-color">APERTURA LA PUBBLICO</strong>
                  </div>
                  <div class="m20 dark-border dark-color center pt-9">LUN - VEN</div>
                  <div class="m20">
                    <strong class="dark-color pt-9">CENTRALINO - </strong><span class="pt-6 dark-color">TELEFONO ATTIVO</span>
                  </div>
                  <div class="m20 dark-border dark-color center pt-9">LUN - VEN</div>
              </div>
              <div class="col-md-4 col-xs-12 p45">
                  <div class="dark-color center pt-8">MATTINA</div>
                  <div class="m10">&nbsp;</div>
                  <div class="m20 light-border center pt-9">09:00 - 12:00</div>
                  <div class="m20">&nbsp;</div>
                  <div class="m20 light-border center pt-9">09:00 - 12:00</div>
              </div>
              <div class="col-md-4 col-xs-12 p45">
                  <div class="dark-color center pt-8">POMERIGGIO</div>
                  <div class="m10">&nbsp;</div>
                  <div class="m20 light-border center pt-9">09:00 - 12:00</div>
                  <div class="m20">&nbsp;</div>
                  <div class="m20 light-border center pt-9">09:00 - 12:00</div>
              </div>
            </div>            
          </div>          
        </div>
      </div>
    </div>
{% endblock %}