{% extends 'IngeFrontendBundle:base:layout.html.twig' %}

{% block title %}
  Storica
{% endblock %}

{% block css %}
<style type="text/css">
body {
  background-color: #00a0de;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="container form-storica">
      <div class="content-title">
        <h2>
          STORICA
        </h2>
        <p class="pt-12 title-bottom">
          RECUPERA DOCUMENTI DAL SITO PRECEDENTE
        </p>
      </div>
      <div class="row input-form">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group">
              <div class="col-xs-9">
                <input type="text" id="parole-chiave" name="parole-chiave" class="form-control" maxlength="100" placeholder="Parole chiave" value="">
              </div>
              <div class="col-xs-3">
                <input type="submit" class="btn btn-social" value="">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="form-group">
              <div class="col-sm-6">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Dropdown
                    <span style="padding-left:6px"><i class="fa fa-angle-down"></i></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-md-6">
          <div class="row">
              <div class="col-sm-9">
                <p class="storica-title">DOCUMENTI TROVATI</p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-9">
                <div class="doc-box-wrapper">
                  <div class="doc-box">
                    <div class="doc-box-icon">
                      +
                    </div>
                    <div class="doc-box-info">
                      <p class="name">DOCUMENTO1</p>
                      <p class="size">1,3 MB</p>
                    </div>
                  </div>
                  <div class="doc-box">
                    <div class="doc-box-icon">
                      +
                    </div>
                    <div class="doc-box-info">
                      <p class="name">DOCUMENTO2</p>
                      <p class="size">1,6 MB</p>
                    </div>
                  </div>
                  <div class="doc-box">
                    <div class="doc-box-icon">
                      +
                    </div>
                    <div class="doc-box-info">
                      <p class="name">DOCUMENTO3</p>
                      <p class="size">2,3 MB</p>
                    </div>
                  </div>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}