#header {
    padding: 8px 0 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
}
#header .brand {
    margin: 5px 0;
    text-transform: uppercase;
}
#header .brand i {
    color: #00acac;
}
#header a:hover {
    text-decoration: none;
}
#header .top-panel {
    float: right;
    position: relative;
}
#header .top-panel .front-end,
#header .top-panel .logged-user {
    display: inline-block;
}

.sidebar {
    padding: 0 0 10px 0;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.sidebar .menu_level_1 {
    list-style: none;
    padding-left: 0;
}
.sidebar .menu_level_1 li a {
    position: relative;
    display: block;
    padding: 10px 10px 10px 35px;
}
.sidebar .menu_level_1 > li > a:hover {
    background-color: #e6e6e6;
}
.sidebar .menu_level_1 > li.active > a,
.sidebar .menu_level_1 > li.active > a:hover,
.sidebar .menu_level_1 > li.active > a:focus {
    border: transparent;
    border-right: 1px solid #d9d9d9;
}
.sidebar li.current > a {
    background-color: #e6e6e6;
}
.sidebar a {
    font-size: 14px !important;
}

.content {
    padding: 20px 0;
}
.main-header {
    padding-bottom: 20px;
}
.main-header h2 {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    border-right: 1px solid #ccc;
    margin: 0;
    padding-right: 10px;
    margin-right: 10px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.status-on,
.status-off {
    font-size: 18px;
}
.status-on {
    color: #65b3a3;
}
.status-off {
    color: rgb(126, 126, 126);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}