#external-events {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}
    
#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
}
    
#external-events .fc-event {
    display: inline-block;
    margin: 10px 0;
    padding: 3px 8px;
    cursor: pointer;
}
    
#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
    
#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.update p {
    margin: 0;
}