<tr>
    <td>
        <h4>{{ 'type file upload'|trans }}</h4>
        <p><small>{{ 'fille extension'|trans }}</small></p>
    </td>
    <td><input class="form-control" id="mime_type_upload" type="text" value="..."></td>
</tr>

<tr>
    <td>
        <h4>{{ 'max size file upload'|trans }}</h4>
        <p><small>{{ 'megabytes'|trans }}</small></p>
    </td>
    <td><input class="form-control" id="max_size_upload" type="text" value=""></td>
</tr>

<script type="text/javascript">
    function initMaxSizeUpload() {
        $.ajax({
            url: "{{ path('admin_setting_get_value') }}",
            type: 'GET',
            data: {
                area: 'backend',
                type: $('#max_size_upload').attr('id')
            },
            dataType: 'json',
            success: function(res) {
                if (res.status) {
                    if (res.data) {
                        $('#max_size_upload').val(res.data);
                    }
                } else {
                    alert("{{ 'faile'|trans }}.");
                }
            },
            error: function() {
                alert("{{ 'server error'|trans }}.");
            }
        });
    }

    $(document).ready(function() {

        initMaxSizeUpload();

        $('#mime_type_upload').select2({
            placeholder: "{{ 'search with key...'|trans }}",
            minimumInputLength: 0,
            allowClear: false,
            multiple: true,
            ajax: {
                url: "{{ path('get_mime_types') }}",
                dataType: 'json',
                quietMillis: 100,
                data: function (term) {
                    return {
                        q: term
                    };
                },
                results: function (json) {
                    var results = [];
                    $.each(json.data, function(i) {
                        results.push({
                            id: json.data[i].mime_type,
                            text: json.data[i].extension
                        });
                    });
                    return {
                        results: results
                    };
                }
            },
            formatSearching: function() {
                return "{{ 'searching...'|trans }}";
            },
            initSelection: function(element, callback) {
                var data = [];

                $.ajax({
                    url: "{{ path('admin_setting_get_value') }}",
                    type: 'GET',
                    data: {
                        area: 'backend',
                        type: $(element).attr('id')
                    },
                    dataType: 'json',
                    success: function(res) {
                        if (res.status) {
                            if (res.data) {
                                for (var i in res.data) {
                                    data.push({
                                        id: res.data[i].id,
                                        text: res.data[i].text
                                    });
                                }
                            }
                            callback(data);
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });

        $('#mime_type_upload').change(function() {
            var data = $(this).select2('data');

            $.ajax({
                url: "{{ path('admin_setting_set_value') }}",
                type: 'POST',
                data: {
                    area: 'backend',
                    type: $(this).attr('id'),
                    value: data
                },
                success: function(res) {
                    if (res.status) {
                        //location.reload();
                    } else {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        });

        $('#max_size_upload').change(function() {
            var data = $(this).val();

            $.ajax({
                url: "{{ path('admin_setting_set_value') }}",
                type: 'POST',
                data: {
                    area: 'backend',
                    type: $(this).attr('id'),
                    value: data
                },
                success: function(res) {
                    if (res.status) {
                        //location.reload();
                    } else {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        });

    });
</script>