{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'language management'|trans }}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'delete language'|trans }}: " + $(this).attr('data-title') + '?');
            if (cf) {
                $.ajax({
                    url: "{{ path('admin_language') }}/" + $(this).attr('data-id') + '/delete',
                    type: 'GET',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                            $('select[name="locale"]').append('\
                                <option value="' + res.data.locale + '">' + res.data.locale + ' - ' + res.data.name + '</option>\
                            ');
                        } else {
                            alert("{{ 'delete faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-language"></i> {{ 'language management'|trans }}</h2>
            <em>{{ 'support multiple languages'|trans }}</em>
        </div>
        
        <div class="main-content">
            
            <div class="row-fluid">
            {% if languageLists|length > 0 %}
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'locale name'|trans }}</th>
                            <th>{{ 'locale'|trans }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for language in languageLists %}
                        <tr>
                            <td width="50"><img src="{{ asset('flags/' ~ language.name|replace({' ':'-'}) ~ '.png') }}"/></td>
                            <td>{{ language.name }}</td>
                            <td>{{ language.locale }}</td>
                            <td class="text-right" width="90">
                                <a class="btn btn-default btn-xs" href="{{ path('admin_language') ~ '/' ~ language.id ~ '/edit' }}"><i class="fa fa-pencil-square-o"></i></a>
                                <a class="btn btn-default btn-xs btn-delete" data-id="{{ language.id }}" data-title="{{ language.name }}" href="#"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>

            <hr>
            <div class="row-fluid">
                <form class="form-inline" role="form" action="{{ path('admin_language_add') }}" method="post">
                    <div class="input-group">

                        <div class="form-group">
                            <select class="form-control" name="locale">
                                <option value="">{{ 'choose locale'|trans }}...</option>
                                <option disabled>---</option>
                                {% for locale, localeName in allLocales %}
                                <option value="{{ locale }}" locale-name="{{ localeName }}">{{ locale }} - {{ localeName }}</option>
                                {% endfor %}
                            </select>           
                        </div>

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus-square"></i> {{ 'add'|trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}