{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'edit language'|trans }} :: {{ 'language management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('change', '.translation', function() {
            var text = $(this).val(),
                token_id = $(this).closest('tr').attr('token-id'),
                translation_id = $(this).closest('tr').attr('translation-id');

            if (text) {
                $.ajax({
                    url: "{{ path('admin_language_translation', {language_id: language.id}) }}",
                    type: 'POST',
                    data: {
                        translation_id: translation_id,
                        token_id: token_id,
                        translation: text
                    },
                    context: this,
                    success: function(res) {
                        if (res.status) {

                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><img src="{{ asset('flags/' ~ language.name|replace({' ':'-'}) ~ '.png') }}"/> {{ 'language'|trans }}: {{ language.name }}</h2>
            <em>{{ 'add, edit translation message'|trans }}</em>
        </div>
        
        <div class="main-content">
            <hr>
            <div class="row-fluid">
                <table class="table table-bordered" id="data-table">
                    <thead>
                        <tr>
                            <th>{{ 'token'|trans }}</th>
                            <th>{{ 'translation'|trans }}</th>
                            <th></th>
                        </tr>
                    </thead>

                    <thead>
                        <tr>
                            <td><input type="text" class="form-control" name="new_token" placeholder="{{ 'new token'|trans }}" /></td>
                            <td><input type="text" class="form-control" name="new_translation" placeholder="{{ 'new translation'|trans }}" /></td>
                            <td class="text-right"><button class="btn btn-success btn-add"><i class="fa fa-plus-square"></i> {{ 'add'|trans }}</button></td>
                        </tr>
                    </thead>

                    {% if tokens|length > 0 %}
                    <tbody>
                        {% for token in tokens %}
                        <tr token-id="{{ token[0].id }}" translation-id="{{ token['id'] }}">
                            <td>{{ token[0].token }}</td>
                            <td><input type="text" class="form-control translation" name="new_translation" value="{{ token['translation'] }}" /></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}


                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}