{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{'media management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>

<style type="text/css">
    .media-item {
        display: inline-block;
        padding: 10px;
        width: 160px;
        border: 1px solid #F1F1F1;
    }
    .media-item .icon {
        font-size: 60px;
        color: rgb(255, 112, 112);
        text-align: center;
    }
    .media-item .name {
        height: 35px;
        overflow: hidden;
    }
    .media-item .value {
        display: none;
    }

    .media-item .youtube a i {
        color: rgb(255, 112, 112);
    }
</style>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>
<script src="{{ asset('bootbox/bootbox.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}

<script type="text/javascript">
    $(document).ready(function() {
        $('#file-form').bootstrapValidator({
            fields: {
                file: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'file is required'|trans }}"
                        },
                        file: {
                            extension: "{{ extensions|join(',') }}",
                            //type: 'audio/mpeg',
                            maxSize: {{ (maxSize) ? maxSize*1048576 : 2*1048576 }},
                            message: "{{ 'the selected file is not valid'|trans }}"
                        }
                    }
                }
            }
        });

        $('#youtube-form').bootstrapValidator({
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'name is required'|trans }}"
                        }
                    }
                },
                value: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'embed code is required'|trans }}"
                        }
                    }
                },
            }
        });

        // add new media file or youtube video
        $('.btn-add').click(function() {
            var form = '#' + $(this).attr('data-form');

            bootbox.dialog({
                message: $(form),
                title: $(this).attr('data-title'),
                show: false
            }).on('shown.bs.modal', function() {
                $(form).show().bootstrapValidator();
            }).on('hide.bs.modal', function(e) {
                $(form).hide().appendTo('body');
            }).modal('show');
        });

        // delete media file or youtube link
        $('.btn-delete').on('click', function() {
            var type = $(this).attr('data-type'),
                url = $(this).attr('data-url'),
                id, name;

            if (type === 'file') {
                id = $(this).attr('data-id'),
                name = $(this).attr('data-name');
            } else if (type === 'youtube') {
                id = $(this).closest('.media-item').attr('data-id'),
                name = $(this).closest('.media-item').attr('data-name');
            }
            
            var cf = confirm("{{ 'confirm delete'|trans }}: " + name + '?');
            if (cf) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            if (type === 'file') {
                                $(this).closest('tr').remove();
                            } else if (type === 'youtube') {
                                $(this).closest('.media-item').remove();
                            }
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });

        // preview youtube video
        $('.btn-youtube-play').on('click', function() {
            bootbox.dialog({
                message: $(this).closest('.media-item').find('.value').html(),
                title: "{{ 'preview youtube'|trans }}"
            });
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-youtube-play"></i> {{ 'media management'|trans }}</h2>
            <em>{{ 'mp3 & youtube videos'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-upload"></i> {{ 'add media'|trans }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="btn-add" data-form="file-form" data-title="{{ 'upload file'|trans }}"><i class="fa fa-plus-circle"></i> {{ 'add file'|trans }}</a></li>
                            <li><a class="btn-add" data-form="youtube-form" data-title="{{ 'add youtube link'|trans }}"><i class="fa fa-plus-circle"></i> {{ 'add youtube video'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'file list'|trans }}</div>
                        <div class="panel-body">
                    {% if files|length > 0 %}
                    <table class="table table-bordered" id="data-table">
                        <thead>
                            <tr>
                                <th>{{ 'type'|trans }}</th>
                                <th>{{ 'name'|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td>{{ file.type }}</td>
                                <td><a href="{{ file.value }}" target="_blank">{{ file.name }}</a></td>
                                <td class="text-right" width="40">
                                    <a class="btn btn-default btn-xs btn-delete" data-url="{{ path('admin_media_delete', {id: file.id}) }}" data-name="{{ file.name }}" data-type="file" href="#"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'youtube list'|trans }}</div>
                        <div class="panel-body">
                        {% if youtubes|length > 0 %}
                            {% for yt in youtubes %}
                                <div class="media-item" data-id="{{ yt.id }}" data-name="{{ yt.name }}">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-xs btn-delete" data-url="{{ path('admin_media_delete', {id: yt.id}) }}" data-type="youtube"><i class="fa fa-times"></i></button>
                                    </div>

                                    <div class="icon youtube">
                                        <a class="btn-youtube-play" href="#"><i class="fa fa-youtube-play"></i></a>
                                    </div>
                                    <div class="name">{{ yt.name }}</div>
                                    <div class="value">{{ yt.value|raw }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<form class="form-horizontal" id="file-form" action="{{ path('admin_media_add') }}" method="post" enctype="multipart/form-data" style="display: none">
    <input type="hidden" name="type" value="file" />
    <div class="form-group required">
        <div class="col-md-12">
            <span class="btn btn-default btn-file">
                {{ 'browser file'|trans }} <input type="file" name="file">
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">{{ 'upload'|trans }}</button>
        </div>
    </div>
</form>

<form class="form-horizontal" id="youtube-form" action="{{ path('admin_media_add') }}" method="post" style="display: none">
    <input type="hidden" name="type" value="youtube" />
    <div class="form-group required">
        <div class="col-md-12">
            <input class="form-control" type="text" name="name" placeholder="{{ 'enter a name'|trans }}"/>
        </div>
    </div>
    <div class="form-group required">
        <div class="col-md-12">
            <input class="form-control" type="text" name="value" placeholder="{{ 'enter a embed code'|trans }}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">{{ 'add'|trans }}</button>
        </div>
    </div>
</form>
{% endblock %}