{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'article management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'confirm delete'|trans }}: " + $(this).attr('data-name') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'GET',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>

{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-newspaper-o"></i> {{ 'article management'|trans }}</h2>
            <em>{{ 'news, post, article'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_article_category_list') }}"><i class="fa fa-bars"></i> {{ 'category management'|trans }}</a>
                </div>
                
                <div class="col-md-6 text-right">
                    <a class="btn btn-success" href="{{ path('admin_article_add') }}"><i class="fa fa-plus-square"></i> {{ 'new article'|trans }}</a>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    {% if articles|length > 0 %}
                    <table class="table table-bordered" id="data-table">
                        {% if articles|length > 0 %}
                        <thead>
                            <tr>
                                <th>{{ 'article title'|trans }}</th>
                                <th>{{ 'article category'|trans }}</th>
                                <th>{{ 'status'|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                            <tr>
                                <td>{{ article.title }}</td>
                                <td>{{ (article.category is not null) ? article.category.name : '' }}</td>
                                <td>
                                    {% if article.status == 1 %}
                                        <i class="fa fa-toggle-on status-on"></i>
                                    {% else %}
                                        <i class="fa fa-toggle-off status-off"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right" width="90">
                                    <a class="btn btn-default btn-xs" href="{{ path('admin_article_edit', {id: article.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="btn btn-default btn-xs btn-delete" data-id="{{ article.id }}" data-name="{{ article.title }}" data-url="{{ path('admin_article_delete', {id: article.id}) }}" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}