{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ (action == 'add') ? 'new article'|trans : 'edit article'|trans }}
{% endblock %}

{% block css %}
    <link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#article-form').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    title: {
                        validators: {
                            notEmpty: {
                                message: "{{ 'title is required'|trans }}"
                            }
                        }
                    }
                }
            });
        });

        $(function() {
            $("[name='status']").bootstrapSwitch();
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-newspaper-o"></i> {{ (action == 'add') ? 'new article'|trans : 'edit article'|trans }}</h2>
            <em>{{ 'news, post, article'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{{ path('admin_article_list') }}"><i class="fa fa-arrow-left"></i> {{ 'article management'|trans }}</a>
                    <a class="btn btn-default" href="{{ path('admin_article_category_list') }}"><i class="fa fa-bars"></i> {{ 'category management'|trans }}</a>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form id="article-form" role="form" action="{{ (action == 'add') ? path('admin_article_add') : path('admin_article_edit', {id: article.id}) }}" method="POST">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group required">
                                    <label class="control-label" for="title">{{ 'title'|trans }}</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="{{ 'enter a title'|trans }}" value="{{ article.title }}">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="content">{{ 'content'|trans }}</label>
                                    <textarea class="form-control ckeditor" id="content" name="content" rows="3">{{ article.content }}</textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="category">{{ 'category'|trans }}</label>
                                    <select class="form-control" name="category" id="category">
                                        <option value="">{{ 'choose category'|trans }}...</option>
                                        <option disabled>---</option>

                                        {% for category in categories %}
                                        <option value="{{ category.id }}" 
                                            {{ 
                                                (article.category != null) ? (category.id == article.category.id) ? 'selected' : '' : ''
                                            }}>
                                            {{ category.name|trans }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="form-group">
                                    <label for="status">{{ 'publish'|trans }}</label>
                                    <div>
                                        <input type="checkbox" name="status" {{ (article.status) ? 'checked' : '' }}>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">{{ (action == 'add') ? 'create'|trans : 'update'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}