{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'category management'|trans }}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'confirm delete'|trans }}: " + $(this).attr('data-name') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'GET',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-newspaper-o"></i> {{ 'category management'|trans }}</h2>
            <em>{{ 'category of articles'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_article_list') }}"><i class="fa fa-arrow-left"></i> {{ 'article management'|trans }}</a>
                </div>
                
                <div class="col-md-6 text-right">
                    <a class="btn btn-success" href="{{ path('admin_article_category_add') }}"><i class="fa fa-plus-circle"></i> {{ 'new category'|trans }}</a>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    {% if categories|length > 0 %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'category name'|trans }}</th>
                                <th>{{ 'article list'|trans }}</th>
                                <th>{{ 'status'|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td><b>{{ category.name }}</b></td>
                                <td></td>
                                <td>
                                    {% if category.status == 1 %}
                                        <i class="fa fa-toggle-on status-on"></i>
                                    {% else %}
                                        <i class="fa fa-toggle-off status-off"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right" width="90">
                                    <a class="btn btn-default btn-xs" href="{{ path('admin_article_category_edit', {id: category.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="btn btn-default btn-xs btn-delete" data-id="{{ category.id }}" data-title="{{ category.name }}" data-url="{{ path('admin_article_category_delete', {id: category.id}) }}" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>

                            {% if category.children is defined %}
                                {% for category in category.children %}
                                    <tr>
                                        <td>|_ {{ category.name }}</td>
                                        <td></td>
                                        <td>
                                            {% if category.status == 1 %}
                                                <i class="fa fa-toggle-on status-on"></i>
                                            {% else %}
                                                <i class="fa fa-toggle-off status-off"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-right" width="90">
                                            <a class="btn btn-default btn-xs" href="{{ path('admin_article_category_edit', {id: category.id}) }}">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <a class="btn btn-default btn-xs btn-delete" data-id="{{ category.id }}" data-title="{{ category.name }}" data-url="{{ path('admin_article_category_delete', {id: category.id}) }}" href="#">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}