{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ (action == 'add') ? 'new category'|trans : 'edit category'|trans }}
{% endblock %}

{% block css %}
    <link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#category-form').bootstrapValidator({
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: "{{ 'name is required'|trans }}"
                            }
                        }
                    }
                }
            });
        });

        $(function() {
            $("[name='status']").bootstrapSwitch();
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-newspaper-o"></i> {{ (action == 'add') ? 'new category'|trans : 'edit category'|trans }}</h2>
            <em>{{ 'category of articles'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{{ path('admin_article_category_list') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'category management'|trans }}
                    </a>
                    <a class="btn btn-default" href="{{ path('admin_article_list') }}">
                        <i class="fa fa-bars"></i> {{ 'article management'|trans }}
                    </a>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form id="category-form" role="form" action="{{ (action == 'add') ? path('admin_article_category_add') : path('admin_article_category_edit', {id: category.id}) }}" method="POST">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group required">
                                    <label class="control-label" for="name">{{ 'category name'|trans }}</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="{{ 'enter a name'|trans }}" value="{{ category.name }}">
                                </div>

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <div class="form-group">
                                    <label for="status">{{ 'status'|trans }}</label>
                                    <div>
                                        <input type="checkbox" name="status" {{ (category.status) ? 'checked' : '' }}>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label" for="parent">{{ 'parent category'|trans }}</label>
                                    <select class="form-control" name="parent_id" id="parent">
                                        <option value="0">{{ 'choose parent'|trans }}...</option>
                                        <option disabled>---</option>

                                        {% for cate in parentCates %}
                                        <option value="{{ cate.id }}"
                                            {{ 
                                                (category.parentId == cate.id) ? 'selected' : ''
                                            }}>
                                            {{ cate.name|trans }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">{{ (action == 'add') ? 'create'|trans : 'update'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}