#attivitaScrollbar
{
width:100%;
margin:20px auto 10px;
position: relative;
}
#attivitaScrollbar .viewport
{
height: 300px;
overflow:hidden;
position:relative;
}
#attivitaScrollbar .overview
{
list-style:none;
position:absolute;
left:0;
top:0;
margin:0;
padding: 0px 20px 10px 0;
}

#attivitaScrollbar .scrollbar {
    float: right;
    position: relative;
    z-index: 100;
    width: 0px
}
#attivitaScrollbar .track {
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 2px;
    background-color: #FFF;
    left: -10px;
}
#attivitaScrollbar .thumb {
    background: none repeat scroll 0 0 #FFF;
    cursor: pointer;
    height: 20px;
    left: -7px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 15px;
    border-radius: 15px;
}
#attivitaScrollbar .thumb .end {
    
}
#attivitaScrollbar .disable {
    display: none;
}

#news-detail-scrollbar
{
width:100%;
margin:20px auto 10px;
position: relative;
color: #000;
}
#news-detail-scrollbar .viewport
{
height: 200px;
overflow:hidden;
position:relative;
}
#news-detail-scrollbar .overview
{
list-style:none;
position:absolute;
left:0;
top:0;
margin:0;
padding: 0px 20px 10px 0;
}
#news-detail-scrollbar .overview p
{
    color: #485163;
}

#news-detail-scrollbar .scrollbar {
    float: right;
    position: relative;
    z-index: 100;
    width: 0px
}
#news-detail-scrollbar .track {
    height: 100%;
    padding: 0 1px;
    position: relative;
    width: 2px;
    background-color: #FFF;
    left: -10px;
}
#news-detail-scrollbar .thumb {
    background: none repeat scroll 0 0 #485163;
    cursor: pointer;
    height: 20px;
    left: -7px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 15px;
    border-radius: 15px;
}
#news-detail-scrollbar .thumb .end {
    
}
#news-detail-scrollbar .disable {
    display: none;
}