

@font-face {
    font-family: "Avenir LT 45 Book";
    src: url('../fonts/Avenir-LT-45-Book-2.eot');
    src: url('../fonts/Avenir-LT-45-Book-2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-LT-45-Book-2.svg#Avenir LT 45 Book') format('svg'),
        url('../fonts/Avenir-LT-45-Book-2.woff') format('woff'),
        url('../fonts/Avenir-LT-45-Book-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Avenir LT 65 Medium";
    src: url('../fonts/Avenir-LT-95-Black-2.eot');
    src: url('../fonts/Avenir-LT-95-Black-2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-LT-95-Black-2.svg#Avenir LT 65 Medium') format('svg'),
        url('../fonts/Avenir-LT-95-Black-2.woff') format('woff'),
        url('../fonts/Avenir-LT-95-Black-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'campton-bold';
    src: url('../fonts/campton-bolddemo-webfont.eot');
    src: url('../fonts/campton-bolddemo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton-bolddemo-webfont.woff') format('woff'),
         url('../fonts/campton-bolddemo-webfont.ttf') format('truetype'),
         url('../fonts/campton-bolddemo-webfont.svg#camptonbold_demo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'campton-light';
    src: url('../fonts/campton-lightdemo-webfont.eot');
    src: url('../fonts/campton-lightdemo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/campton-lightdemo-webfont.woff') format('woff'),
         url('../fonts/campton-lightdemo-webfont.ttf') format('truetype'),
         url('../fonts/campton-lightdemo-webfont.svg#camptonlight_demo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media(max-width: 1280px) {
	.custom-owl-prev
	{
		left: 2px !important;
	}
	.custom-owl-next
	{
		right: 2px !important;
	}
	.main-home .caption
	{		
		padding-left: 60px !important;		
	}
}
@media(max-width: 1199px) {
	#header .navbar-nav > li > a{
		padding: 0px 10px 20px 10px !important;
	}
	#header .navbar-header {	   
	    margin-left: 0px !important;
	}
	.custom-owl-prev{
		border-radius: 30px !important;
	    height: 30px !important;
	    line-height: 30px !important;
	    width: 30px !important;
		background: url(../images/icon-owl-prev-30x30.png) center center no-repeat !important;		
	}

	.custom-owl-next{
		border-radius: 30px !important;
	    height: 30px !important;
	    line-height: 30px !important;
	    width: 30px !important;
	    background: url(../images/icon-owl-next-30x30.png) center center no-repeat !important;	   	    	
	}
}

@media(max-width: 991px) {
	#header .navbar-nav > li > a{
		padding: 0px 5px 20px 5px !important;
	}	
	.clear-margin-col
	{
		margin-right: 0px !important;
	}
	.main-home .caption
	{		
		padding-left: 50px !important;
		/* margin-top: 200px !important; */
	}
	.main-home .caption > p
	{
		font-size: 22px !important;	
		line-height: 22px !important;	
	}
	.main-home .title-home
	{
		font-size: 22px !important;	
	}
	/* .main-home .m150 {
	    	margin-top: 100px;
	    } */
	.container .content-title h2
	{
		font-size: 22px !important;
	}
	.container .content-title h2 span
	{
		font-size: 20px !important;
	}
	.container .title-bottom
	{
		font-size: 18px !important;
	}
	.container .title-bottom span
	{
		font-size: 14px !important;
	}
	.container .servizi-info
	{
		font-size: 14px !important;
	}
	.custom-owl-prev{				
		/* top: -185px !important; */
		left: 2px !important;		
	}
	.custom-owl-next{		
	    /* top: -185px !important;	 */
	    right: 2px !important;	
	}
	.calendario-box
	{
		text-align: center;
	}
	.calendario .custom-owl-prev,.calendario .custom-owl-next{				
		top: -225px !important;
	}	
	.home-wrapper .custom-owl-prev, .home-wrapper .custom-owl-next {   
    	top: 473px !important;
	}	
	.calenda-grid li{		
		width: 10% !important;		
	}
}
@media (max-width: 767px) {	
	#header ul.navbar-nav {
		padding-top: 0;
	}
	#header .navbar-nav{
		margin-top: 0;
		background-color: rgba(255,255,255,1);
	}
	#header .navbar-nav > li > a{
		padding: 5px !important;
		font-size: 14px;
	}
	#header .navbar-nav > li > a:hover{
		background-color: #f5f5f5;
	}
	#header .dropdown-menu > li:hover {
	    background-color: #f5f5f5;
	}
	#header .dropdown-menu > li {
	    padding-left: 20px;
	}
	#header .dropdown-menu {
	    display: block;
	}
	#header .dropdown-menu > li a{
	    color: #4b5c64 !important;
	} 
	#header .dropdown-menu > li a:hover{
	    color: #0075a6 !important;
	} 
	#header .navbar-nav .dropdown-menu {
	    /* background-color: transparent; */
	    border-left: 5px solid #4b5c64; */
	    box-shadow: none;
	    float: none;
	    margin-top: 0;
	    position: static;
	    width: auto;
	}
	#header .has-dropdown:hover > a {
		border-left: none;
	}
	#header .logo{
		margin-left: 0;
	}
	#header{
		height: 76px;
	}
	#header .navbar-header{
		height: 76px;
	}
	#header .navbar-toggle {
		margin: auto; position: absolute; top: 0px; bottom: 0px; height: 33px; right: 15px;
		color: #4b5c64;
		border-color: #4b5c64;
		background-color: #fff;
	}
	#header .navbar-toggle:hover {
		background-color: #4b5c64;
	}
	#header .navbar-toggle span.icon-bar {
		background-color: #4b5c64;
	}
	#header .navbar-toggle:hover span.icon-bar {
		background-color: #fff;
	}	
	#header .navbar-collapse ul.navbar-nav {
    	padding-top: 10px !important;
	}
	.main-home .caption
	{		
		padding-left: 40px !important;
		/* margin-top: 100px !important; */
	}
	.main-home .caption > p
	{
		font-size: 20px !important;	
		line-height: 20px !important;	
	}
	.main-home .title-home
	{
		font-size: 20px !important;	
	}
	.container .content-title h2
	{
		font-size: 20px !important;
	}
	.container .content-title h2 span
	{
		font-size: 18px !important;
	}
	.container .title-bottom
	{
		font-size: 17px !important;
	}
	.container .title-bottom span
	{
		font-size: 13px !important;
	}	
	.container .servizi-info
	{
		font-size: 13px !important;
	}
}
@media(max-width: 600px) {
	.calenda-grid li.event .selected {	    
	    background: url(../images/icon-btn-go-15x15.png) center center no-repeat !important;    
	}
	.main-home .caption
	{		
		padding-left: 30px !important;
		/* margin-top: 100px !important; */
	}
	.main-home .caption > p
	{
		font-size: 18px !important;		
		line-height: 18px !important;
	}
	.main-home .title-home
	{
		font-size: 18px !important;	
	}
	.container .content-title h2
	{
		font-size: 18px !important;
	}
	.container .content-title h2 span
	{
		font-size: 16px !important;
	}
	.container .title-bottom
	{
		font-size: 16px !important;
	}
	.container .title-bottom span
	{
		font-size: 12px !important;
	}
	.container .servizi-info
	{
		font-size: 12px !important;
	}
	.servizi-box-wrapper .two-col{
		-webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
	    -moz-column-count: 1 !important; /* Firefox */
	    column-count: 1 !important;
	    -webkit-column-gap: 0px !important; /* Chrome, Safari, Opera */
	    -moz-column-gap: 0px !important; /* Firefox */
	    column-gap: 0px !important;
	}
	.content-title
	{
		padding-top: 50px !important;
	}
	.news-box-wrapper {
    	margin-top: 50px !important;
	}
	.news-box-wrapper .custom-owl-prev, .news-box-wrapper .custom-owl-next {    
    	top: 370px !important;
	}
	.home-wrapper .custom-owl-prev, .home-wrapper .custom-owl-next {    
    	top: 240px !important;
	}
	.home-wrapper .caption {
    	margin-top: 200px !important;
	}
	.main-home .content-bottom
	{
		margin-top: 50px !important;
	}
}
@media(max-width: 320px) {	
	.calenda-grid li.event .selected {	    
	    background: url(../images/icon-btn-go-7x7.png) center center no-repeat !important;    
	}	
	.f20,.month-name
	{
		font-size: 12px !important;
	}
	.home-wrapper .caption > p {	    
	    font-size: 14px !important;
	    line-height: 14px !important;
	}			
	/* .main-home .caption
	{		
		padding-left: 30px !important;				
	} */
	.main-home .caption > p
	{
		font-size: 14px !important;		
	}	
	.main-home .title-home
	{
		font-size: 14px !important;	
	}
	.container .content-title h2
	{
		font-size: 14px !important;
	}
	.container .content-title h2 span
	{
		font-size: 12px !important;
	}
	.container .title-bottom
	{
		font-size: 12px !important;
	}
	.container .title-bottom span
	{
		font-size: 10px !important;
	}
	.home-wrapper .custom-owl-prev, .home-wrapper .custom-owl-next {
    	top: 233px !important;
	}
	.calenda-grid li{	
		border: 1px solid #fff !important;		
	}
}

*,boby, p, input{
	font-family: "Avenir LT 45 Book";
	color: #fff;
}
h2, h3{
	font-family: "Avenir LT 45 Book";	
	font-weight: 200;
}
h2{
	font-size: 42px; 
	text-transform: uppercase;
}

.container {
    /* width: 100%; */
    max-width: 1200px;
}	
#header{
	background-color: rgba(255, 255, 255, 0.85);
	text-transform: uppercase;
	font-size: 12px; 
	font-family: "Avenir LT 45 Book";
	border: none;	
}
#header ul.navbar-nav {
	padding-top: 40px;
}
#header .navbar-nav > li > a{
	padding: 0px 40px 20px 10px;
	color: #39414C;
	-webkit-transition: padding 0.2s linear 0s; /* For Safari 3.1 to 6.0 */
    transition: padding 0.2s linear 0s;
}

#header .dropdown-menu > li > a{
	padding-left: 10px;
}

#header .navbar-nav li.active > a{
	color: #0075a6;
	background: none;
}

#header .navbar-nav li:hover > a{
	color: #0075a6;
}

#header .navbar-nav li.open > a{
	background: none;
	border-left: 2px solid #fff;
}

.logo{	
	width: 139px;
	height: 61px;
	margin-top: -8px;
}

#header .navbar-right .dropdown-menu{
	font-size: 12px;
	left: 0;
	right: auto;
	border: none;
	border-left: 2px solid #fff;
	box-shadow: none;
	background: none;
	border-radius: 0px;
}

#header .navbar-right .dropdown-menu li > a{ 
	color: #fff;
}

#header .navbar-right .dropdown-menu li:hover > a{ 
	color: #0075a6;
}

#header .navbar-header{	
	border: none;
	margin-left: -30px;
}

#header .has-dropdown:hover > a {
	border-left: 2px solid #fff;
}
#header .has-dropdown:hover > ul {
	display: block;
}
html{
	min-height: 1200px;
	position: relative;
}
body {
    margin-bottom: 30px;
}

#header.affix ul.navbar-nav {
	padding-top: 40px;
}
#header.affix .navbar-header{
	
	border: none;
}
#header.affix .logo{
	margin-top: -8px;
	width: 139px;
	height: 61px;
}
#header.affix{
	background-color: rgba(255, 255, 255, 0.85);
}
.social{
	padding-top: 100px;
}
.social ul{
	list-style: none outside none;
	margin: 0 !important;
	padding: 0 !important;
}
.social ul li{
	display: inline;
	margin-right:12px;
}
.social ul li a{
	text-align: center;
	display: inline-block;
	color: #0075a6;
	width: 23px;
	height: 23px;
	line-height: 23px;
	background-color: #fff;
	padding-top: 2px;
}
.social ul li a i{
	color: #0075a6;
}
.activecaption .social ul li a i{
	color: #a7bfcb;
}

.whitesmoke .social ul li a i{
	color: #f2f2f2;
}
.whitesmoke .social ul li a {
	background-color: #485163 !important;
}
.darkcyan .social ul li a i{
	color: #058e96;
}
.lightseagreen .social ul li a i{
	color: #67b8b1;
}
.albo .social ul li a i{
	color: #415262;
}
.steelblue .social ul li a i{
	color: #17709a;
}
.dodgerblue .social ul li a i{
	color: #00a0de;
}
.news-wrapper .social ul li a i{
	color: #6FCADF;
}
.calendario2 .social ul li a i{
	color: #00789E;
}
.calendario .social ul li a i{
	color: #FAD8E2;
}
.content-title
{
	padding: 240px 0 0 0;
}

.content-title h2, .content-title span, .content-title strong{	
	color: #E6E6E6;
}
.albo .content-title,.calendario .content-title,.calendario2 .content-title,.news-wrapper .content-title
{
	padding: 200px 0 0 0;
}
.input-form{
	margin-top:165px; 
}

.form-group {
    margin-bottom: 16px;
}

.form-group:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.btn, .btn:hover, .form-control{
	border-radius: 0;
	background: none;
	color: #fff;
	font-family: "Avenir LT 45 Book";
	font-size: 18px;
}

.btn{
	padding: 3px 12px;
}

::-webkit-input-placeholder.{
	color: #fff;
}

.footer{
	height: 30px;
	background-color: rgba(255,255,255,0.85);
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.dodgerblue{
	background-color: #00a0de;
}
.lightseagreen{
	background-color: #67b8b1;
}
.activecaption{
	background-color: #a7bfcb;
}
.whitesmoke{
	background-color: #f2f2f2;
}
.steelblue{
	background-color: #17709a;
}
.darkcyan{
	background-color: #058e96;
}
.albo{
	background-color: #415262;
}
.lightseagreen h2, .activecaption h2, .whitesmoke h2{
	color: #485163;
}
.dark-color{
	color: #333E4F;
}
.light-color{
	color: #fff;
}
.dark-border{
	border: 1px solid #333E4F;
}
.light-border{
	border: 1px solid #fff;
}

.center{
	text-align: center;
}
.pt-6{
	font-size: 8px;
}
.pt-7{
	font-size: 10px;
}
.pt-8{
	font-size: 12px;
}
.pt-9{
	font-size: 13px;
}
.pt-12{
	font-size: 18px;
}
.pt-10{
	font-size: 15px;
}
.pt-14{
	font-size: 22px;
}
.p10{
	padding-top: 10px;
}
.p20{
	padding-top: 20px;
}
.p40{
	padding-top: 40px;
}
.p45{
	padding-top: 45px;
}
.p55{
	padding-top: 55px;
}
.p70{
	padding-top: 70px;
}
.p90{
	padding-top: 90px;
}
.p190{
	padding-top: 190px;
}
.m-10{
	margin-top: -10px;
}
.m10{
	margin-top: 10px;
}
.m20{
	margin-top: 20px;
}
.m150{
	margin-top: 150px;
}
.m185{
	margin-top: 185px;
}
.mb15
{
	margin-bottom: 15px;	
}
.pl33
{
	padding-left: 33px;
}
.btn-social, .btn-social:hover{
	border: none;
	background: url(../images/btn-go.png) top center no-repeat;	
	width: 40px;
	height: 40px;
	margin-top: -3px; 
}
.storica-title{
	font-size: 20px;
	border-bottom: 1px solid #fff;
	padding-bottom: 9px;
}
.doc-box-wrapper{
	padding-top: 75px; 
}
.doc-box{
	clear: both;
	padding: 7px 0;
}
.doc-box .doc-box-icon{
	border-radius: 30px;
    color: #fff;
    display: inline-block;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 30px;
    border: 1px solid #fff;
    font-size: 30px;
}

.doc-box .doc-box-info{
	height: 30px;
}
.doc-box .doc-box-info .name{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	font-family: "Avenir LT 45 Book";
	margin: 0; 
	padding: 3px 0 0 0;
}
.doc-box .doc-box-info .size{
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	font-family: "Avenir LT 45 Book";
	margin: 0; 
	padding: 0;
	color: #CCCCCC;
}
.press-box-wrapper{
	padding-top: 65px; 
}
.press-box{
	clear: both;
	padding: 7px 0;
}
.press-box .press-box-icon{
	border-radius: 38px;
    display: inline-block;
    float: left;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 38px;
}

.press-box .press-box-info{
	height: 38px;
	line-height: 38px;
}

.press-box .press-box-info a{
	font-family: "Avenir LT 45 Book";
	font-size: 14px;
	text-transform: uppercase;
	color: #485163;
	font-weight: 500;
}

.press-box .press-box-icon.camera{
	background: url(../images/icon-camera.png) center center no-repeat;	
}
.press-box .press-box-icon.video-camera{
	background: url(../images/icon-video-camera.png) center center no-repeat;	
}
.press-box .press-box-icon.news{
	background: url(../images/icon-news.png) center center no-repeat;	
}

.faq-box-wrapper{
	padding-top: 15px; 
}

.btn-faq{
	display: inline-block;
    float: right;
    height: 25px;
    width: 25px;
    background: url(../images/icon-faq.png) center center no-repeat;	
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
}

.faq-box h3{
	font-size: 16px;
	padding-top: 35px;
	padding-bottom: 8px;
	color: #485163; 
	border-bottom:1px solid #485163; 
}

.faq-box p{
	font-size: 15px;
	color: #485163; 
} 

.commissioni-box-wrapper{
	padding-top: 30px; 
}
.commissioni-box{
	clear: both;
	padding: 34px 0 7px 0;
}
.commissioni-box .commissioni-box-icon{
	border-radius: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
}

.commissioni-box .commissioni-box-info{
	height: 38px;
	line-height: 38px;
}

.commissioni-box .commissioni-box-info a{
	font-family: "Avenir LT 45 Book";
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: #485163;
}
.commissioni-box:hover .commissioni-box-info a, .commissioni-box .commissioni-box-info.select a{
	color: #fff;
}

.commissioni-box:hover .commissioni-box-icon.scambio, .commissioni-box .commissioni-box-icon.scambio.select{
	background: url(../images/icon-scambio.png) center center no-repeat;	
}
.commissioni-box .commissioni-box-icon.scambio{
	background: url(../images/icon-scambio-gray.png) center center no-repeat;	
}
.commissioni-box:hover .commissioni-box-icon.download, .commissioni-box .commissioni-box-icon.download.select{
	background: url(../images/icon-download.png) center center no-repeat;	
}
.commissioni-box .commissioni-box-icon.download{
	background: url(../images/icon-download-gray.png) center center no-repeat;	
}
.commissioni-box:hover .commissioni-box-icon.membri, .commissioni-box .commissioni-box-icon.membri.select{
	background: url(../images/icon-membri.png) center center no-repeat;	
}
.commissioni-box .commissioni-box-icon.membri{
	background: url(../images/icon-membri-gray.png) center center no-repeat;	
}
.commissioni-box:hover .commissioni-box-icon.mansionari, .commissioni-box .commissioni-box-icon.mansionari.select{
	background: url(../images/icon-mansionari.png) center center no-repeat;	
}
.commissioni-box .commissioni-box-icon.mansionari{
	background: url(../images/icon-mansionari-gray.png) center center no-repeat;	
}
.commissioni-box:hover .commissioni-box-icon.elenco, .commissioni-box .commissioni-box-icon.elenco.select{
	background: url(../images/icon-elenco.png) center center no-repeat;	
}
.commissioni-box .commissioni-box-icon.elenco{
	background: url(../images/icon-elenco-gray.png) center center no-repeat;	
}

.steelblue h3{
	font-size: 18px;
	padding-top: 50px;
}

.upload-noti{
	width: 200px;
	margin: auto;
	font-family: "Avenir LT 45 Book";
	font-size: 12px;
	background: url(../images/icon-upload.png) right center no-repeat;	
	height: 40px;
	line-height: 40px;
	color: #fff;
	margin-top:40px; 
	cursor: pointer;
}

.steelblue .hr{
	height: 1px;
	border-top: 1px solid #fff;
	margin-top: 110px;
	margin-bottom: 25px; 
}


.doc-box .doc-box-icon-download{
	border-radius: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
    background: url(../images/icon-download.png) center center no-repeat;	
}

.doc-box .doc-box-download-info{
	height: 40px;
}
.doc-box .doc-box-download-info .name{
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	font-family: "Avenir LT 45 Book";
	margin: 0; 
	padding: 3px 0 0 0;
}
.doc-box .doc-box-download-info .size{
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	font-family: "Avenir LT 45 Book";
	margin: 0; 
	padding: 0;
	color: #CCCCCC;
}
.membri-listing-area{
	padding-top: 110px;
}
.membri-list, .membri-list li a{
	list-style: none outside none;
	padding-left: 0px;
	color: #fff;
	text-decoration: none;
	font-family: "Avenir LT 45 Book"
}
.membri-list li{
	padding: 6px 0 0;
	margin-top: 10px; 
}

.membri-list li.select, .membri-list li:hover{
	border-bottom: 1px solid #fff; 
}
.membri-info{
	padding-top: 16px;
}

.ittivita-listing-area{
	border-top: 1px solid #fff; 
	margin-top: 110px;
}

.ittivita-listing-area h3{
	padding: 3px 0;
	font-size: 15px;
	margin: 0px;
}

.ittivita-listing-area p{
	font-size: 13px;
}

.servizi-box-wrapper{
	padding-top: 70px; 
	position: relative;
}

.servizi-box-wrapper .info{
	color: #fff;
}

.servizi-box-wrapper .info p{
	font-size: 15px;
	margin: 0px;
}
.servizi-box-wrapper .info p.break{
	margin-bottom: 25px;
}

.servizi-box-wrapper .dark-border, .servizi-box-wrapper .light-border{
	padding: 8px;
}

.servizi-box-wrapper .two-col{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.servizi-box-wrapper .two-col p{
	padding-bottom: 16px;
	font-size: 15px;
}

.servizi-box-wrapper .two-col a{
	text-decoration: none;
}
.servizi-box-wrapper .two-col a:hover p{
	color: #41566b;
}

.formazione-box-wrapper{
	padding-top: 90px; 
	position: relative;
}

.slide-item{
	margin: 0 10px;
	height: 226px;
	background-color: #e6e6e6;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.slide-item:hover, .slide-item.select {
	background-color: #2e5164;
}
.custom-owl-prev{
	border-radius: 60px;
    height: 60px;
    line-height: 60px;
    width: 60px;
	background: url(../images/icon-owl-prev.png) center center no-repeat;
	top: 172px;
	left: 10%;
	position: absolute;
	opacity: 0.85;
	z-index: 9999;
}

.custom-owl-next{
	border-radius: 60px;
    height: 60px;
    line-height: 60px;
    width: 60px;
    background: url(../images/icon-owl-next.png) center center no-repeat;
    right: 10%;
    top: 172px;
	position: absolute;
	opacity: 0.85;
	z-index: 9999;
}
.custom-owl-prev:hover, .custom-owl-next:hover{
	cursor: pointer;
	opacity: 1;
}
.owl-prev, .owl-next{
	display: none !important;
}

.slide-item.formazione .title{
	position: absolute;
	bottom: 15px;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	padding: 0 15px;
	-webkit-transition: bottom 0.3s linear 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: bottom 0.3s linear 0s;
    -o-transition: bottom 0.3s linear 0s;
    -ms-transition: bottom 0.3s linear 0s;
    transition: bottom 0.3s linear 0s;    
}
.slide-item.formazione:hover .title, .slide-item.formazione.select .title{
	position: absolute;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 80px;
	padding: 0 15px;
}

.slide-item.formazione .title .type{
	color: #3B4F63;
	margin: 0;
}
.slide-item.formazione .title .inner{
	border-bottom: 1px solid #3B4F63;
	color: #3B4F63;
	
}
.slide-item.formazione .title .tick{
	color: #3B4F63;
	padding-right: 20px;
	height: 15px;
	line-height: 15px;
	margin-top: 40px; 
}
.slide-item.formazione .title .tick img{
	padding-left: 15px;
}

.slide-item.formazione .title .btn-go{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	margin: 15px auto;
	right: 0;
	left: 0;
	position: absolute;
}
.slide-item:hover.formazione .title .tick{
	color: #fff;
}
.slide-item.select.formazione .title .tick{
	color: #fff;
}
.slide-item:hover.formazione .title .type{
	color: #fff;
	
}
.slide-item:hover.formazione .title .inner{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.slide-item.select.formazione .title .type{
	color: #fff;
	
}
.slide-item.select.formazione .title .inner{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.formazione-box-wrapper h3{
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
.formazione-box-wrapper .info-title{
	padding-left: 11px;
}
.formazione-box-wrapper .info-title .col1-formazione{
	width: 100px;
	display: inline-block;
}
.formazione-box-wrapper .info{
	border-left: 1px solid #fff;
	padding-left: 10px;
}
.formazione-box-wrapper .info p{
	margin: 0; 
}
.formazione-box-wrapper .info p span{
	width: 100px;
	display: inline-block; 
}

.formazione-box-wrapper .go-to-page{
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: right;
	padding-right: 46px;
	color: #fff;
	text-decoration: none;
	background: url(../images/btn-go.png) right center no-repeat !important;
	cursor: pointer;
}

.formazione-box-wrapper .go-to-page:hover{
	color: #2e5164;
}

.formazione-box-wrapper a, .incubatore-box-wrapper a{
	text-decoration: none;
}
.formazione-box-wrapper .doc-box a:hover p, .incubatore-box-wrapper .doc-box a:hover p{
	color: #41566b;
}

.incubatore-box-wrapper{
	padding-top: 70px; 
	position: relative;
}

.incubatore-box-wrapper .go-to-page{
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: right;
	padding-right: 80px;
	color: #fff;
	font-size: 21px;
	text-decoration: none;
	background: url(../images/icon-owl-next.png) right center no-repeat !important;
	cursor: pointer;
	margin-top: 150px; 
}

.incubatore-box-wrapper .go-to-page:hover{
	color: #2e5164;
}

.form-prenotazione{
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0 0 20px 20px;
	margin-top: -15px;		 
}
.form-prenotazione h3{
	font-size: 16px;
}

.form-prenotazione .input-group-addon{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    padding: 0 12px;
}

.form-prenotazione .input-group-addon .glyphicon.glyphicon-th{
	font-size: 24px;
}

.btn-office-submit{
	float: right;
	border: none;
	padding-right: 44px;
	height: 40px;
	line-height: 40px;
	width: 100px;
	background: url(../images/icon-btn-send.png) right center no-repeat !important;
}

.job-box-wrapper{
	padding-top: 90px; 
	position: relative;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #AED6E3;
    font-size: 18px;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #AED6E3;
    font-size: 18px;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #AED6E3;
    font-size: 18px;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #AED6E3;
}
.form-control
{
	font-style: italic;
}
.job-box-wrapper .slide-item.formazione .title{
	position: absolute;
	bottom: -37px;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	-webkit-transition: bottom 0.3s linear 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: bottom 0.3s linear 0s;
    -o-transition: bottom 0.3s linear 0s;
    -ms-transition: bottom 0.3s linear 0s;
    transition: bottom 0.3s linear 0s;
}

.job-box-wrapper .slide-item.formazione:hover .title, .job-box-wrapper .slide-item.formazione.select .title{
	position: absolute;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 40px;
}
.job-box-wrapper .owl-item .description{
	padding: 35px 25px;
}

.slide-item-wrapper:hover .description{
	display: block !important;
}
.enti-box-wrapper{
	padding-top: 95px;
	position: relative;
}
.enti-box-wrapper .description
{
	color: #485163;
}
.enti-box-wrapper .owl-item .description{
	padding: 30px 20px;
	font-size: 11px;
}
.uppercase 
{
	text-transform: uppercase;
}
.enti-box-wrapper .slide-item.formazione .title{
	position: absolute;
	bottom: 7px;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	-webkit-transition: bottom 0.3s linear 0s; /* For Safari 3.1 to 6.0 */
	-moz-transition: bottom 0.3s linear 0s;
    -o-transition: bottom 0.3s linear 0s;
    -ms-transition: bottom 0.3s linear 0s;
    transition: bottom 0.3s linear 0s;
}

.enti-box-wrapper .slide-item.formazione:hover .title, .enti-box-wrapper .slide-item.formazione.select .title{
	position: absolute;
	width: 200px;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 80px;
}
.parallax {
    background-repeat: no-repeat;
    background-position: center bottom;
}

.home-wrapper .main-home{
	position: relative;
}

.home-wrapper .caption{
	margin-top: 425px; 
}
.home-wrapper .caption p{
	font-family: "campton-light";
	font-size: 36px;
	line-height: 36px;
}

.home-wrapper h3{
	border-bottom: 1px solid #fff; 
	padding-bottom: 12px;
}

.home-wrapper .custom-owl-prev, .home-wrapper .custom-owl-next{
	opacity: 0.85;
	top: 480px;
}
.home-wrapper .custom-owl-prev:hover, .home-wrapper .custom-owl-next:hover{
	opacity: 1;
}

.dropdown button{
	width: 100%;
	text-align: left;
}
.dropdown button span{
	position: absolute;
	right: 12px;
} 
.checkbox {
    position: relative;
    padding-left: 46px;
    height: 34px;
    line-height: 34px;
    font-family: "Avenir LT 45 Book";
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.checkbox > input {
    opacity: 0;
    margin:0 !important; 
}
.checkbox > span {
    border: 1px solid #ccc;
    display: inline-block;
    left: 0;
    width: 34px;
    height: 34px;
    line-height: 34px;
    position: absolute;
}
.checkbox > span i{
	opacity: 0;
	width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.checkbox > input:checked + span i{
    opacity: 1;
}

.btn-submit-albo{
	border: 1px solid #fff;
	border-radius: 0;
	background: none;
	padding: 6px 60px;
	margin-left: 100px;
	font-size: 15px;
	font-style: normal !important;
}
.btn-submit-albo:hover{
	border: 1px solid #fff;
	border-radius: 0;
	background: none;
	padding: 6px 60px;
	margin-left: 100px;
	font-size: 15px;
}

.albo-box-wrapper .form-group label, .albo-box-wrapper .form-group button, .albo-box-wrapper .form-group input{
	color: #AED6E3
}

.content-header{
	padding: 180px 0 0 0px;
}

.news-box-wrapper {
	margin-top: 165px;
	padding-bottom: 50px;
}

.news-box-wrapper .slide-item:hover, .news-box-wrapper .slide-item.select {
	background-color: #426C99;
}

.btn-show-news-detail{
	display: inline-block;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 15px auto;
    position: absolute;
    right: 0;
    width: 40px;
}

.news-description{
	font-size: 12px;
	padding: 10px;
	width: 200px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	color: #485163;
}

.news-box-wrapper .slide-item:hover .news-description,  .news-box-wrapper .slide-item.select .news-description{
	display: none;
}

.news-box-wrapper .custom-owl-prev, .news-box-wrapper .custom-owl-next{
	opacity: 0.85;
	top: 650px;
}
.news-wrapper h2{
	color: #485163;
}
.news-box-wrapper h3{
	color: #485163;
	border-bottom: 1px solid #485163; 
	padding-bottom: 12px;
}

.news-box-wrapper p{
	color: #485163;
}

.news-tag{
	line-height: 30px;
	height: 30px;
	padding-left: 56px;
	background: url(../images/icon-tag.png) left center no-repeat !important;
	margin-bottom: 10px; 
}
.news-tag a{
	color: #485163;
	text-decoration: none;
} 
.news-tag a:hover{
	color: #426c99;
} 
.news-download{
	line-height: 30px;
	height: 30px;
	padding-left: 56px;
	background: url(../images/icon-download-small.png) left center no-repeat !important;
	position: absolute;
	bottom: 0;
}
.news-download a{
	color: #485163;
	text-decoration: none;
} 
.news-download a:hover{
	color: #426c99;
} 
.news-tag-area{
	height: 200px;
	margin-top: 20px;
}

.calendario h2,.calendario span,.calendario strong{
	color: #485163;
}
.enti h2,.enti span,.enti strong{
	color: #485163;
}
.calendario h2 strong{
	color: #485163;
}
.month-name{
	font-size: 27px;
	color: #485163;
}

.calendario .custom-owl-prev, .calendario .custom-owl-next{
	opacity: 0.85;
	top: 480px;
}

.calenda-grid{
	width: 100%;
	list-style: none outside none;
	margin: 0 !important;	
	padding: 0 !important;
}
.calenda-grid li{
	margin: 1px 2px; 
	display: inline-block;
	width: 13%;
	border: 3px solid #fff;
	position: relative;
}
.day-lable{
	position: absolute;
	left: 6px;
	bottom: 0px;
	font-size: 12px;
	color: white !important;
}
.calenda-grid li.event{
	border: 3px solid #83B7BA;
	background-color: #83B7BA; 
}
.calenda-grid li.event .selected{
	display: none;
	width: 100%;
	height: 100%;
	background: url(../images/icon-btn-go.png) center center no-repeat;	    
}

.calenda-grid li.event:hover .selected, .calenda-grid li.event.select .selected{
	display: block;
}
.no-day{
	border: 3px solid rgba(255,255,255,0.5) !important; 
}

.calendario h3{
	color: #485163;
	border-bottom: 1px solid #485163;
	margin: 0;
}
.calendario h3 .month-name{
	font-size: 15px;
}

.doc-box .doc-box-icon-more{
	border-radius: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
    background: url(../images/icon-more-gray.png) center center no-repeat;	
}
.calenda-box-wrapper .name, .calenda-box-wrapper .size{
	color: #485163 !important;
}

.home-wrapper .month-name{
	color: #fff;
}

.doc-box .doc-box-icon-camera{
	border-radius: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
    background: url(../images/icon-camera-light.png) center center no-repeat;	
}

.doc-box .doc-box-icon-video-camera{
	border-radius: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
    background: url(../images/icon-video-camera-light.png) center center no-repeat;	
}

.doc-box .doc-box-icon-clock{
	border-radius: 40px;
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 40px;
    background: url(../images/icon-clock.png) center center no-repeat;	
}

.input-file button{
	border: none;
	background: none;
}

.file-input{
	border: 1px solid #ccc;
	width: 100%;
    height: 34px;
}

.file-input > input {
    opacity: 0;
    margin:0 !important; 
}
.file-input > span {
    display: inline-block;
    top: 0;
    height: 34px;
    line-height: 34px;
    position: absolute;
    padding: 0px 12px;
    font-family: "Avenir LT 45 Book";
    font-size: 16px;
    font-weight: normal;
}
.checkbox > span i{
	opacity: 0;
	width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.checkbox > input:checked + span i{
    opacity: 1;
}
.btn-custom{
	border: none;
	background: url(../images/icon-btn-chose-file.png) right center no-repeat;	
	width: 32px;
	height: 32px;
	padding:0;
	width: 50px;
	color: #fff;
}
.btn-custom:hover{
	background: url(../images/icon-btn-chose-file.png) right center no-repeat;	
}
.calendario-box-wrapper {
	position:relative;	
}
.calendario-box-wrapper  .custom-owl-prev, .calendario-box-wrapper  .custom-owl-next {
	position:absolute;
	top:0;
	bottom: 0;
	margin:auto;
}
.f20
{
	font-size: 20px;
}
.word-break
{
	word-break: break-all;
}
.form-albo [class*="col-md-"],.form-oradi [class*="col-md-"],.form-prenotazione-wapper [class*="col-md-"] {
   margin-right: -15px !important;
}
.clear-margin-col
{
	margin-right: 15px;
}
.form-albo label, .row-submit label,.row-submit button,.row-submit input
{
	color: #AED6E3 !important;	
	font-style: italic;	
	cursor: pointer;
}
.form-albo .form-control,.form-storica .form-control,.dropdown button,.dropdown button span i
{	
	color: #AED6E3 !important;	
}
.bold-900
{
	font-weight: 900;
}
.fontbold
{
	font-family: 'campton-bold';
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: transparent !important;    
}
.membri-info p
{
	font-weight: normal;		
}
.membri-info p span
{
	font-weight: bold;
	display: inline-block;	
	width: 125px;
}
.main-home .content-bottom
{
	margin-top: 150px;
}
.servizi-box-wrapper .title-bottom
{
	font-size: 20px;
}
.servizi-box-wrapper .title-bottom span
{
	font-size: 16px;
}