@font-face {
  font-family: "Avenir LT 45 Book";
  src: url('../fonts/Avenir-LT-45-Book-2.eot');
  src: url('../fonts/Avenir-LT-45-Book-2.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-LT-45-Book-2.svg#Avenir LT 45 Book') format('svg'), url('../fonts/Avenir-LT-45-Book-2.woff') format('woff'), url('../fonts/Avenir-LT-45-Book-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT 65 Medium";
  src: url('../fonts/Avenir-LT-95-Black-2.eot');
  src: url('../fonts/Avenir-LT-95-Black-2.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-LT-95-Black-2.svg#Avenir LT 65 Medium') format('svg'), url('../fonts/Avenir-LT-95-Black-2.woff') format('woff'), url('../fonts/Avenir-LT-95-Black-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'campton-bold';
  src: url('../fonts/campton-bolddemo-webfont.eot');
  src: url('../fonts/campton-bolddemo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/campton-bolddemo-webfont.woff') format('woff'), url('../fonts/campton-bolddemo-webfont.ttf') format('truetype'), url('../fonts/campton-bolddemo-webfont.svg#camptonbold_demo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'campton-light';
  src: url('../fonts/campton-lightdemo-webfont.eot');
  src: url('../fonts/campton-lightdemo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/campton-lightdemo-webfont.woff') format('woff'), url('../fonts/campton-lightdemo-webfont.ttf') format('truetype'), url('../fonts/campton-lightdemo-webfont.svg#camptonlight_demo') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
boby,
p,
input {
  font-family: "Avenir LT 45 Book";
  color: #ffffff;
}
html {
  height: auto;
}
body {
  padding-bottom: 60px;
}
h2,
h3 {
  font-family: "Avenir LT 45 Book";
  font-weight: 200;
}
h2 {
  font-size: 42px;
  text-transform: uppercase;
}
a {
  color: #ffffff;
}
.pdl5 {
  padding-left: 5px;
}
.pdl10 {
  padding-left: 10px;
}
.pdl15 {
  padding-left: 15px;
}
.pdl20 {
  padding-left: 20px;
}
.pdl25 {
  padding-left: 25px;
}
.pdl30 {
  padding-left: 30px;
}
.pdl35 {
  padding-left: 35px;
}
.pdl40 {
  padding-left: 40px;
}
.pdl45 {
  padding-left: 45px;
}
.pdl50 {
  padding-left: 50px;
}
.pdl55 {
  padding-left: 55px;
}
.pdr5 {
  padding-right: 5px;
}
.pdr10 {
  padding-right: 10px;
}
.pdr15 {
  padding-right: 15px;
}
.pdr20 {
  padding-right: 20px;
}
.pdr25 {
  padding-right: 25px;
}
.pdr30 {
  padding-right: 30px;
}
.pdr35 {
  padding-right: 35px;
}
.pdr40 {
  padding-right: 40px;
}
.pdr45 {
  padding-right: 45px;
}
.pdr50 {
  padding-right: 50px;
}
.pdr55 {
  padding-right: 55px;
}
.logo {
  width: 139px;
  height: 61px;
  margin-top: -8px;
}
.container {
  /* width: 100%; */
  max-width: 1170px;
  width: auto;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Avenir LT 45 Book";
  border: none;
}
.navbar ul.navbar-nav {
  padding-top: 40px;
}
.navbar .navbar-nav > li:last-child a {
  padding-right: 0px;
}
.navbar .navbar-nav > li > a {
  padding: 0px 10px 20px 10px;
  font-size: 10px;
  color: #39414c;
  -webkit-transition: padding 0.2s linear 0s;
  /* For Safari 3.1 to 6.0 */
  transition: padding 0.2s linear 0s;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  background: none;
}
.navbar .dropdown-menu > li > a {
  padding-left: 10px;
}
.navbar .navbar-nav li.active > a {
  color: #0075a6;
  background: none;
}
.navbar .navbar-nav li:hover > a {
  color: #0075a6;
}
.navbar .navbar-nav li.open > a {
  background: none;
  border-left: 2px solid #ffffff;
}
.navbar .navbar-right {
  margin-right: 0px;
}
.navbar .navbar-right .dropdown-menu {
  font-size: 12px;
  left: 0;
  right: auto;
  border: none;
  border-left: 2px solid #ffffff;
  box-shadow: none;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
.navbar .navbar-right .dropdown-menu li > a {
  color: #536c7c;
}
.navbar .navbar-right .dropdown-menu li:hover > a {
  color: #0075a6;
}
.navbar .container .navbar-header {
  border: none;
  margin-left: -31.99999999px;
}
.navbar .has-dropdown > a {
  margin-left: 2px;
}
.navbar .has-dropdown:hover > a {
  border-left: 2px solid #ffffff;
  margin-left: 0px;
}
.navbar .has-dropdown:hover > ul {
  display: block;
}
.navbar .affix {
  background-color: rgba(255, 255, 255, 0.85);
}
.navbar .affix ul.navbar-nav {
  padding-top: 40px;
}
.navbar .affix .navbar-header {
  border: none;
}
.navbar .affix .logo {
  margin-top: -8px;
  width: 139px;
  height: 61px;
}
.social {
  padding-top: 100px;
}
.social ul {
  list-style: none outside none;
  margin: 0 !important;
  padding: 0 !important;
}
.social ul li {
  display: inline;
  margin-right: 12px;
}
.social ul li a {
  text-align: center;
  display: inline-block;
  color: #0075a6;
  width: 23px;
  height: 23px;
  line-height: 23px;
  background-color: #ffffff;
  padding-top: 2px;
}
.social ul li a i {
  color: #0075a6;
}
.activecaption .social ul li a i {
  color: #a7bfcb;
}
.whitesmoke .social ul li a {
  background-color: #485163 !important;
}
.whitesmoke .social ul li a i {
  color: #f2f2f2;
}
.darkcyan .social ul li a i {
  color: #058e96;
}
.lightseagreen .social ul li a i {
  color: #67b8b1;
}
.albo .social ul li a i {
  color: #415262;
}
.steelblue .social ul li a i {
  color: #17709a;
}
.dodgerblue .social ul li a i {
  color: #00a0de;
}
.news-wrapper .social ul li a i {
  color: #6fcadf;
}
.calendario2 .social ul li a i {
  color: #00789e;
}
.calendario .social ul li a i {
  color: #fad8e2;
}
.content-title {
  padding: 240px 0 0 0;
}
.content-title h2,
.content-title span,
.content-title strong {
  color: #e6e6e6;
}
.albo .content-title,
.calendario .content-title,
.calendario2 .content-title,
.news-wrapper .content-title {
  padding: 200px 0 0 0;
}
.input-form {
  margin-top: 165px;
}
.form-group {
  margin-bottom: 16px;
}
.form-group:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.btn,
.btn:hover,
.form-control {
  border-radius: 0;
  background: none;
  color: #ffffff;
  font-family: "Avenir LT 45 Book";
  font-size: 18px;
}
.btn {
  padding: 3px 12px;
}
.footer {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
.light-blue {
  background-color: #014876;
}
.dodgerblue {
  background-color: #00a0de;
}
.lightseagreen {
  background-color: #67b8b1;
}
.activecaption {
  background-color: #a7bfcb;
}
.whitesmoke {
  background-color: #f2f2f2;
}
.steelblue {
  background-color: #17709a;
}
.darkcyan {
  background-color: #058e96;
}
.albo {
  background-color: #415262;
}
.lightseagreen h2,
.activecaption h2,
.whitesmoke h2 {
  color: #485163;
}
.dark-color {
  color: #333e4f;
}
.light-color {
  color: #ffffff;
}
.dark-border {
  border: 1px solid #333e4f;
}
.light-border {
  border: 1px solid #ffffff;
}
.dark-dust-violet {
  color: #602060;
}
.center {
  text-align: center;
}
.pt-6 {
  font-size: 8px;
}
.pt-7 {
  font-size: 10px;
}
.pt-8 {
  font-size: 12px;
}
.pt-9 {
  font-size: 13px;
}
.pt-12 {
  font-size: 18px;
}
.pt-10 {
  font-size: 15px;
}
.pt-14 {
  font-size: 22px;
}
.p10 {
  padding-top: 10px;
}
.p20 {
  padding-top: 20px;
}
.p40 {
  padding-top: 40px !important;
}
.p45 {
  padding-top: 45px;
}
.p55 {
  padding-top: 55px;
}
.p70 {
  padding-top: 70px;
}
.p90 {
  padding-top: 90px;
}
.p190 {
  padding-top: 190px;
}
.m-10 {
  margin-top: -10px;
}
.mg0 {
  margin: 0px;
}
.m10 {
  margin-top: 10px;
}
.m20 {
  margin-top: 20px;
}
.m150 {
  margin-top: 150px;
}
.m185 {
  margin-top: 185px;
}
.mb15 {
  margin-bottom: 15px;
}
.pl33 {
  padding-left: 33px;
}
.btn-social,
.btn-social:hover {
  border: none;
  background: url(../images/btn-go.png) top center no-repeat;
  width: 40px;
  height: 40px;
  margin-top: -3px;
}
.storica-title {
  font-size: 20px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 9px;
}
.doc-box-wrapper {
  padding-top: 75px;
}
.doc-box {
  clear: both;
  padding: 7px 0;
}
.doc-box .doc-box-icon {
  border-radius: 30px;
  color: #ffffff;
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  top: 5px;
  width: 30px;
  border: 1px solid #ffffff;
  font-size: 30px;
}
.doc-box .doc-box-info {
  height: 30px;
}
.doc-box .doc-box-info .name {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Avenir LT 45 Book";
  margin: 0;
  padding: 3px 0 0 0;
}
.doc-box .doc-box-info .size {
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Avenir LT 45 Book";
  margin: 0;
  padding: 0;
  color: #cccccc;
}
.press-box-wrapper {
  padding-top: 65px;
}
.press-box-wrapper ul {
  padding: 0px;
}
.press-box-wrapper ul li {
  list-style: nne;
  display: inline-block;
  padding: 34px 35px 7px 0;
}
.press-box-wrapper ul li a,
.press-box-wrapper ul li a:hover {
  color: #485163;
}
.press-box {
  clear: both;
  padding: 7px 0;
}
.press-box .press-box-icon {
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 38px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
.press-box .press-box-info {
  height: 38px;
  line-height: 38px;
}
.press-box .select {
  color: #ffffff;
}
.press-box .press-box-info a {
  font-family: "Avenir LT 45 Book";
  font-size: 14px;
  text-transform: uppercase;
  color: #485163;
  font-weight: 500;
}
.press-box .press-box-icon.camera {
  background: url(../images/icon-camera.png) center center no-repeat;
}
.press-box .press-box-icon.camera.select {
  background: url(../images/icon-camera-light.png) center center no-repeat;
}
.press-box .press-box-icon.video-camera {
  background: url(../images/icon-video-camera.png) center center no-repeat;
}
.press-box .press-box-icon.video-camera.select {
  background: url(../images/icon-video-camera-light.png) center center no-repeat;
}
.press-box .press-box-icon.news {
  background: url(../images/icon-news.png) center center no-repeat;
}
.press-box .press-box-icon.news.select {
  background: url(../images/icon-news-light.png) center center no-repeat;
}
.download-link {
  color: #ffffff;
  line-height: 34px;
  padding-right: 40px;
}
.download-video-icon {
  background: url(../images/download-video-icon.png) no-repeat right center;
  height: 32px;
}
.download-testo-icon {
  background: url(../images/download-testo-icon.png) no-repeat right center;
  height: 32px;
}
.faq-box-wrapper {
  padding-top: 15px;
}
.faq-box-wrapper .faq-box {
  max-width: 450px;
}
.btn-faq {
  display: block;
  height: 25px;
  width: 25px;
  background: url(../images/icon-faq.png) center center no-repeat;
  margin-top: 30px;
}
.faq-box h3 {
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 8px;
  color: #485163;
  border-bottom: 1px solid #485163;
}
.faq-box p {
  font-size: 15px;
  color: #485163;
}
.commissioni-box-wrapper {
  padding-top: 30px;
}
.commissioni-box-wrapper .container .dropdown {
  max-width: 400px;
}
.commissioni-box-wrapper .container .dropdown .form-control {
  background: none;
  border-radius: 0;
  font-style: normal;
  text-shadow: none;
}
.commissioni-box-wrapper .membri-list li {
  display: block;
}
.commissioni-box-wrapper ul {
  padding: 0px;
}
.commissioni-box-wrapper ul li {
  list-style: none;
  display: inline-block;
}
.commissioni-box {
  clear: both;
  padding: 34px 50px 7px 0;
}
.commissioni-box .commissioni-box-icon {
  border-radius: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
}
.commissioni-box .commissioni-box-info {
  height: 38px;
  line-height: 38px;
  font-family: "Avenir LT 45 Book";
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.commissioni-box .commissioni-box-icon.scambio {
  background: url(../images/icon-scambio-gray.png) center center no-repeat;
}
.commissioni-box .commissioni-box-icon.download {
  background: url(../images/icon-download-gray.png) center center no-repeat;
}
.commissioni-box .commissioni-box-icon.membri {
  background: url(../images/icon-membri-gray.png) center center no-repeat;
}
.commissioni-box .commissioni-box-icon.mansionari {
  background: url(../images/icon-mansionari-gray.png) center center no-repeat;
}
.commissioni-box .commissioni-box-icon.elenco {
  background: url(../images/icon-elenco-gray.png) center center no-repeat;
}
.commissioni-box .commissioni-box-info {
  color: #39414c;
}
.commissioni-box:hover .commissioni-box-info,
.commissioni-box .commissioni-box-info.select {
  color: #ffffff;
}
.press-box-wrapper ul li a.select:hover {
  color: #ffffff;
  text-decoration: none;
}
.commissioni-box:hover .commissioni-box-icon.scambio,
.commissioni-box .commissioni-box-icon.scambio.select {
  background: url(../images/icon-scambio.png) center center no-repeat;
}
.commissioni-box:hover .commissioni-box-icon.download,
.commissioni-box .commissioni-box-icon.download.select {
  background: url(../images/icon-download.png) center center no-repeat;
}
.commissioni-box:hover .commissioni-box-icon.membri,
.commissioni-box .commissioni-box-icon.membri.select {
  background: url(../images/icon-membri.png) center center no-repeat;
}
.commissioni-box:hover .commissioni-box-icon.mansionari,
.commissioni-box .commissioni-box-icon.mansionari.select {
  background: url(../images/icon-mansionari.png) center center no-repeat;
}
.commissioni-box:hover .commissioni-box-icon.elenco,
.commissioni-box .commissioni-box-icon.elenco.select {
  background: url(../images/icon-elenco.png) center center no-repeat;
}
.steelblue h3 {
  font-size: 18px;
  padding-top: 50px;
}
.upload-noti {
  width: 200px;
  margin: auto;
  font-family: "Avenir LT 45 Book";
  font-size: 12px;
  background: url(../images/icon-upload.png) right center no-repeat;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  margin-top: 40px;
  cursor: pointer;
}
.steelblue .hr {
  height: 1px;
  border-top: 1px solid #ffffff;
  margin-top: 110px;
  margin-bottom: 25px;
}
.doc-box .doc-box-icon-download {
  border-radius: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  background: url(../images/icon-download.png) center center no-repeat;
}
.doc-box .doc-box-download-info {
  height: 40px;
}
.doc-box .doc-box-download-info .name {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Avenir LT 45 Book";
  margin: 0;
  padding: 3px 0 0 0;
}
.doc-box .doc-box-download-info .size {
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Avenir LT 45 Book";
  margin: 0;
  padding: 0;
  color: #cccccc;
}
.membri-listing-area {
  padding-top: 110px;
  max-width: 970px;
}
.membri-list,
.membri-list li a {
  list-style: none outside none;
  padding-left: 0px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Avenir LT 45 Book";
}
.membri-list li {
  padding: 6px 0 0;
  margin-top: 10px;
  border-bottom: 1px solid transparent;
}
.membri-list li.select,
.membri-list li:hover {
  border-bottom: 1px solid #ffffff;
}
.membri-info {
  padding-top: 16px;
}
.ittivita-listing-area {
  border-top: 1px solid #ffffff;
  margin-top: 110px;
  max-width: 500px;
}
.ittivita-listing-area h3 {
  padding: 3px 0;
  font-size: 15px;
  margin: 0px;
}
.ittivita-listing-area p {
  font-size: 13px;
}
.servizi-box-wrapper {
  padding-top: 70px;
  position: relative;
}
.servizi-box-wrapper .info {
  color: #ffffff;
  max-width: 690px;
}
.servizi-box-wrapper .info p {
  font-size: 15px;
  margin: 0px;
}
.servizi-box-wrapper .info p.break {
  margin-bottom: 25px;
}
.servizi-box-wrapper .dark-color.form-control::-moz-placeholder {
  color: #333e4f;
  font-size: 13px;
  font-style: normal;
}
.servizi-box-wrapper .dark-color.form-control:-ms-input-placeholder {
  color: #333e4f;
  font-size: 13px;
  font-style: normal;
}
.servizi-box-wrapper .dark-color.form-control::-webkit-input-placeholder {
  color: #333e4f;
  font-size: 13px;
  font-style: normal;
}
.servizi-box-wrapper .light-border.form-control::-moz-placeholder {
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
}
.servizi-box-wrapper .light-border.form-control:-ms-input-placeholder {
  color: #333e4f;
  font-size: 13px;
  font-style: normal;
}
.servizi-box-wrapper .light-border.form-control::-webkit-input-placeholder {
  color: #333e4f;
  font-size: 13px;
  font-style: normal;
}
.servizi-box-wrapper .dark-border,
.servizi-box-wrapper .light-border {
  padding: 8px;
}
.servizi-box-wrapper .two-col {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  max-width: 880px;
}
.servizi-box-wrapper .two-col p {
  padding-bottom: 16px;
  font-size: 15px;
}
.servizi-box-wrapper .two-col a {
  text-decoration: none;
}
.servizi-box-wrapper .two-col a:hover p {
  color: #41566b;
}
.formazione-box-wrapper {
  padding-top: 90px;
  position: relative;
}
.formazione-box-wrapper a {
  color: #ffffff;
}
.custom-slider {
  margin: 0;
}
.slide-item {
  margin: 0 10px;
  height: 226px;
  background-color: #e6e6e6;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.slide-item:hover,
.slide-item.select {
  background-color: #2e5164;
}
.whitesmoke .custom-owl-prev {
  background: url(../images/icon-owl-prev-gray.png) center center no-repeat;
}
.whitesmoke .custom-owl-next {
  background: url(../images/icon-owl-next-gray.png) center center no-repeat;
}
.custom-owl-prev {
  border-radius: 60px;
  height: 60px;
  line-height: 60px;
  width: 60px;
  background: url(../images/icon-owl-prev.png) center center no-repeat;
  top: 172px;
  left: 10px;
  position: absolute;
  opacity: 0.85;
  z-index: 99;
}
.custom-owl-next {
  border-radius: 60px;
  height: 60px;
  line-height: 60px;
  width: 60px;
  background: url(../images/icon-owl-next.png) center center no-repeat;
  right: 10px;
  top: 172px;
  position: absolute;
  opacity: 0.85;
  z-index: 99;
}
.custom-owl-prev:hover,
.custom-owl-next:hover {
  cursor: pointer;
  opacity: 1;
}
.owl-prev,
.owl-next {
  display: none !important;
}
.slide-item.formazione .title {
  position: absolute;
  bottom: 15px;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0 15px;
  -webkit-transition: bottom 0.3s linear 0s;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: bottom 0.3s linear 0s;
  -o-transition: bottom 0.3s linear 0s;
  -ms-transition: bottom 0.3s linear 0s;
  transition: bottom 0.3s linear 0s;
}
.slide-item.formazione .title .type {
  color: #3b4f63;
  margin: 0;
}
.slide-item.formazione .title .inner {
  border-bottom: 1px solid #3b4f63;
  color: #3b4f63;
}
.slide-item.formazione .title .tick {
  color: #3b4f63;
  padding-right: 20px;
  height: 15px;
  line-height: 15px;
  margin-top: 40px;
}
.slide-item.formazione .title .tick img {
  padding-left: 15px;
}
.slide-item.formazione .title .btn-go {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  margin: 15px auto;
  right: 0;
  left: 0;
  position: absolute;
}
.slide-item.formazione:hover .title,
.slide-item.formazione.select .title {
  position: absolute;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 80px;
  padding: 0 15px;
}
.slide-item:hover.formazione .title .tick {
  color: #ffffff;
}
.slide-item:hover.formazione .title .type {
  color: #ffffff;
}
.slide-item:hover.formazione .title .inner {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.slide-item.select.formazione .title .tick {
  color: #ffffff;
}
.slide-item.select.formazione .title .type {
  color: #ffffff;
}
.slide-item.select.formazione .title .inner {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.incubatore-box-wrapper {
  padding-top: 70px;
  position: relative;
}
.incubatore-box-wrapper h3 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
.incubatore-box-wrapper .info-title {
  padding-left: 11px;
}
.incubatore-box-wrapper .info-title .col1-formazione {
  width: 100px;
  display: inline-block;
}
.incubatore-box-wrapper .info {
  border-left: 1px solid #ffffff;
  padding-left: 10px;
}
.incubatore-box-wrapper .info p {
  margin: 0;
}
.incubatore-box-wrapper .info p span {
  width: 100px;
  display: inline-block;
}
.incubatore-box-wrapper .go-to-page {
  float: left;
  height: 60px;
  line-height: 60px;
  padding-right: 80px;
  color: #ffffff;
  font-size: 21px;
  text-decoration: none;
  background: url(../images/icon-owl-next.png) right center no-repeat !important;
  cursor: pointer;
  margin-top: 15px;
  width: 290px;
}
.incubatore-box-wrapper .go-to-page:first-child {
  margin-top: 150px;
}
.incubatore-box-wrapper .go-to-page:hover {
  color: #2e5164;
}
.go-to-page-30 {
  height: 30px;
  line-height: 30px;
  padding-right: 40px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  background: url(../images/icon-owl-next-30x30.png) right center no-repeat !important;
  cursor: pointer;
  display: inline-block;
}
.round-number {
  border: 2px solid #ffffff;
  border-radius: 13px;
  height: 26px;
  margin-right: 10px;
  margin-top: -4px;
  padding: 2px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 26px;
}
.formazione-box-wrapper .go-to-page:hover {
  color: #2e5164;
}
.formazione-box-wrapper a,
.incubatore-box-wrapper a {
  text-decoration: none;
}
.formazione-box-wrapper .doc-box a:hover p,
.incubatore-box-wrapper .doc-box a:hover p {
  color: #41566b;
}
.form-prenotazione {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0 0 20px 20px;
  margin-top: -15px;
}
.form-prenotazione h3 {
  font-size: 16px;
}
.form-prenotazione .input-group-addon {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 0;
  padding: 0 12px;
}
.form-prenotazione .input-group-addon .glyphicon.glyphicon-th {
  font-size: 24px;
}
.btn-office-submit {
  float: right;
  border: none;
  padding-right: 44px;
  height: 40px;
  line-height: 40px;
  width: 100px;
  background: url(../images/icon-btn-send.png) right center no-repeat !important;
}
.job-box-wrapper {
  padding-top: 90px;
  position: relative;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #83b7ba;
  font-size: 18px;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #83b7ba;
  font-size: 18px;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #83b7ba;
  font-size: 18px;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #83b7ba;
}
.form-control {
  font-style: italic;
}
.job-box-wrapper .slide-item.formazione .title {
  position: absolute;
  bottom: -37px;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transition: bottom 0.3s linear 0s;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: bottom 0.3s linear 0s;
  -o-transition: bottom 0.3s linear 0s;
  -ms-transition: bottom 0.3s linear 0s;
  transition: bottom 0.3s linear 0s;
}
.job-box-wrapper .slide-item.formazione:hover .title,
.job-box-wrapper .slide-item.formazione.select .title {
  position: absolute;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 40px;
}
.job-box-wrapper .owl-item .description {
  padding: 35px 25px;
}
.slide-item-wrapper:hover .description {
  display: block !important;
}
.enti-box-wrapper {
  padding-top: 95px;
  position: relative;
}
.enti-box-wrapper .description {
  color: #485163;
}
.enti-box-wrapper .owl-item .description {
  padding: 30px 20px;
  font-size: 11px;
}
.uppercase {
  text-transform: uppercase;
}
.enti-box-wrapper .slide-item.formazione .title {
  position: absolute;
  bottom: 7px;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transition: bottom 0.3s linear 0s;
  /* For Safari 3.1 to 6.0 */
  -moz-transition: bottom 0.3s linear 0s;
  -o-transition: bottom 0.3s linear 0s;
  -ms-transition: bottom 0.3s linear 0s;
  transition: bottom 0.3s linear 0s;
}
.enti-box-wrapper .slide-item {
  background-color: #a6c0c9;
}
.enti-box-wrapper .slide-item:hover,
.enti-box-wrapper .slide-item.select {
  background-color: #2e5164;
}
.enti-box-wrapper .slide-item.formazione:hover .title,
.enti-box-wrapper .slide-item.formazione.select .title {
  position: absolute;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 80px;
}
.parallax {
  background-repeat: no-repeat;
  background-position: center bottom;
}
.home-wrapper {
  background: url(../images/bg-03.jpg) no-repeat 90% -155px;
}
.home-wrapper .main-home {
  position: relative;
}
.home-wrapper .caption {
  margin-top: 255px;
}
.home-wrapper .caption p {
  font-family: "campton-light";
  font-size: 36px;
  line-height: 36px;
}
.home-wrapper h3 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 12px;
}
.home-wrapper .custom-owl-prev,
.home-wrapper .custom-owl-next {
  opacity: 0.85;
  top: 310px;
}
.home-wrapper .custom-owl-prev:hover,
.home-wrapper .custom-owl-next:hover {
  opacity: 1;
}
.dropdown button {
  width: 100%;
  text-align: left;
}
.dropdown button span {
  position: absolute;
  right: 12px;
}
.checkbox {
  position: relative;
  padding-left: 46px;
  height: 34px;
  line-height: 34px;
  font-family: "Avenir LT 45 Book";
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.checkbox > input {
  opacity: 0;
  margin: 0 !important;
}
.checkbox > span {
  border: 1px solid #cccccc;
  display: inline-block;
  left: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  position: absolute;
}
.checkbox > span i {
  opacity: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.checkbox > input:checked + span i {
  opacity: 1;
}
.btn-submit-albo {
  border: 1px solid #ffffff;
  border-radius: 0;
  background: none;
  padding: 6px 60px;
  margin-left: 85px;
  font-size: 15px;
  font-style: normal !important;
}
.albo-box-wrapper .form-group label,
.albo-box-wrapper .form-group button,
.albo-box-wrapper .form-group input {
  color: #83b7ba;
}
.albo-box-wrapper .btn-default {
  background: none;
  text-shadow: 0 0 0 transparent;
}
.albo-box-wrapper .form-albo {
  max-width: 700px;
}
.content-header {
  padding: 180px 0 0 0px;
}
.news-box-wrapper {
  margin-top: 165px;
  padding-bottom: 50px;
}
.news-box-wrapper .slide-item:hover,
.news-box-wrapper .slide-item.select {
  background-color: #426c99;
}
.btn-show-news-detail {
  display: inline-block;
  height: 40px;
  left: 0;
  line-height: 40px;
  margin: 15px auto;
  position: absolute;
  right: 0;
  width: 40px;
}
.news-description {
  font-size: 12px;
  padding: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  color: #485163;
}
.news-box-wrapper .slide-item:hover .news-description,
.news-box-wrapper .slide-item.select .news-description {
  display: none;
}
.news-box-wrapper .custom-owl-prev,
.news-box-wrapper .custom-owl-next {
  opacity: 0.85;
  top: 650px;
}
.news-box-wrapper h3 {
  color: #485163;
  border-bottom: 1px solid #485163;
  padding-bottom: 12px;
}
.news-box-wrapper p {
  color: #485163;
}
.news-wrapper h2 {
  color: #485163;
}
.news-tag {
  line-height: 30px;
  height: 30px;
  padding-left: 56px;
  background: url(../images/icon-tag.png) left center no-repeat !important;
  margin-bottom: 10px;
}
.news-tag a {
  color: #485163;
  text-decoration: none;
}
.news-tag a:hover {
  color: #426c99;
}
.news-download {
  line-height: 30px;
  height: 30px;
  padding-left: 56px;
  background: url(../images/icon-download-small.png) left center no-repeat !important;
  position: absolute;
  bottom: 0;
}
.news-download a {
  color: #485163;
  text-decoration: none;
}
.news-download a:hover {
  color: #426c99;
}
.news-tag-area {
  height: 200px;
  margin-top: 20px;
}
.calendario h2,
.calendario span,
.calendario strong {
  color: #485163;
}
.calendario h2 strong {
  color: #485163;
}
.calendario .custom-owl-prev,
.calendario .custom-owl-next {
  opacity: 0.85;
  top: 480px;
}
.calendario h3 {
  color: #485163;
  border-bottom: 1px solid #485163;
  margin: 0;
}
.calendario h3 .month-name {
  font-size: 15px;
}
.enti h2,
.enti span,
.enti strong,
.enti p {
  color: #485163;
}
.month-name {
  font-size: 27px;
  color: #485163;
}
.calenda-grid {
  width: 100%;
  list-style: none outside none;
  margin: 0 !important;
  padding: 0 !important;
}
.calenda-grid li {
  margin: 1px 2px;
  display: inline-block;
  width: 13%;
  border: 3px solid #ffffff;
  position: relative;
}
.calenda-grid li.event {
  border: 3px solid #83b7ba;
  background-color: #83b7ba;
}
.calenda-grid li.event .selected {
  display: none;
  width: 100%;
  height: 100%;
  background: url(../images/icon-btn-go.png) center center no-repeat;
}
.calenda-grid li.event:hover .selected,
.calenda-grid li.event.select .selected {
  display: block;
}
.day-lable {
  position: absolute;
  left: 6px;
  bottom: 0px;
  font-size: 12px;
  color: white !important;
}
.no-day {
  border: 3px solid rgba(255, 255, 255, 0.5) !important;
}
.doc-box .doc-box-icon-more {
  border-radius: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  background: url(../images/icon-more-gray.png) center center no-repeat;
}
.doc-box .doc-box-icon-camera {
  border-radius: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  background: url(../images/icon-camera-light.png) center center no-repeat;
}
.doc-box .doc-box-icon-video-camera {
  border-radius: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  background: url(../images/icon-video-camera-light.png) center center no-repeat;
}
.doc-box .doc-box-icon-clock {
  border-radius: 40px;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 40px;
  background: url(../images/icon-clock.png) center center no-repeat;
}
.calenda-box-wrapper .name,
.calenda-box-wrapper .size {
  color: #485163 !important;
}
.home-wrapper .month-name {
  color: #ffffff;
}
.input-file button {
  border: none;
  background: none;
}
.file-input {
  border: 1px solid #cccccc;
  width: 100%;
  height: 34px;
}
.file-input > input {
  opacity: 0;
  margin: 0 !important;
}
.file-input > span {
  display: inline-block;
  top: 0;
  height: 34px;
  line-height: 34px;
  position: absolute;
  padding: 0px 12px;
  font-family: "Avenir LT 45 Book";
  font-size: 16px;
  font-weight: normal;
}
.checkbox > span i {
  opacity: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.checkbox > input:checked + span i {
  opacity: 1;
}
.btn-custom {
  border: none;
  background: url(../images/icon-btn-chose-file.png) left center no-repeat;
  width: 32px;
  height: 32px;
  padding: 0;
  width: 50px;
  color: #ffffff;
  display: block;
  cursor: pointer;
}
.btn-custom:hover {
  background: url(../images/icon-btn-chose-file.png) left center no-repeat;
}
.calendario-box-wrapper {
  position: relative;
}
.calendario-box-wrapper .custom-owl-prev,
.calendario-box-wrapper .custom-owl-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.calendario-box-wrapper .width-content {
  margin: 0;
}
.f20 {
  font-size: 20px;
}
.word-break {
  word-break: break-all;
}
.form-albo [class*="col-md-"],
.form-oradi [class*="col-md-"],
.form-prenotazione-wapper [class*="col-md-"] {
  margin-right: -15px !important;
}
.clear-margin-col {
  margin-right: 15px;
}
.form-albo label,
.row-submit label,
.row-submit button,
.row-submit input {
  color: #83b7ba !important;
  font-style: italic;
  cursor: pointer;
}
.form-albo .form-control,
.form-storica .form-control,
.dropdown button,
.dropdown button span i {
  color: #83b7ba !important;
}
.bold-900 {
  font-weight: 900;
}
.fontbold {
  font-family: 'campton-bold';
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: transparent !important;
}
.membri-info p {
  font-weight: normal;
}
.membri-info p span {
  font-weight: bold;
  display: inline-block;
  width: 125px;
}
.main-home .content-bottom {
  margin-top: 150px;
  max-width: 500px;
}
.servizi-box-wrapper .title-bottom {
  font-size: 20px;
}
.servizi-box-wrapper .title-bottom span {
  font-size: 16px;
}
.form-prenotazione .input-group-addon {
  padding: 0px;
}
.form-prenotazione .glyphicon-th {
  margin-left: -8px;
  margin-top: 5px;
}
.calendario-container {
  max-width: 880px;
}
.dropdown-menu li {
  display: block !important;
}
.faq-title {
  max-width: 450px;
}
.form-storica .form-control {
  background: none;
}
.input-append.date .add-on i {
  width: 24px;
  height: 24px;
}
.datepicker th,
.datepicker td {
  color: #555555;
}
.bootstrap-datetimepicker-widget ul {
  padding: 0px;
}
.bootstrap-datetimepicker-widget .timepicker-picker {
  display: none;
}
.pdl {
  padding-left: 80px;
}
#attivitaScrollbar,
#attivitaScrollbar2 {
  margin-top: 20px;
}
#attivitaScrollbar ul,
#attivitaScrollbar2 ul {
  padding: 0px;
}
#attivitaScrollbar ul li,
#attivitaScrollbar2 ul li {
  list-style: none;
}
#attivitaScrollbar ul li a,
#attivitaScrollbar2 ul li a {
  color: #ffffff;
}
#attivitaScrollbar ul li a:hover,
#attivitaScrollbar2 ul li a:hover {
  color: #2a6496;
}
.doc-box-ct .doc-box:first-child {
  margin-top: 140px;
}
.mw320 {
  max-width: 320px;
}
.mw500 {
  max-width: 500px;
}
.mw700 {
  max-width: 700px;
}
.bdtn {
  border-top: none;
}
.image-download {
  width: 44px;
  height: 44px;
  border: 1px solid #ffffff;
  margin: 0 4px 4px 0;
}
.mgl250 {
  margin-left: 250px;
}
.mgl470 {
  margin-left: 470px;
}
.mgt60 {
  margin-top: 60px !important;
}
.login-dropdow {
  background: #dcebf0;
  padding: 18px 35px 0;
  position: absolute;
  display: none;
  right: 0px;
  top: 49px;
  transition: all 0.3s ease 0s;
  width: 213px;
  margin-right: -39.99999999px;
}
.login-dropdow .form-horizontal .form-group {
  margin-bottom: 12px;
}
.login-dropdow .form-horizontal .form-group label {
  color: #9faeb5;
  text-transform: none;
  font-size: 10px;
}
.login-dropdow .form-horizontal .form-group .checkbox {
  padding-left: 20px;
  line-height: 14px;
}
.login-dropdow .form-horizontal .form-group .checkbox > span {
  border: 1px solid #ffffff;
  display: inline-block;
  height: 14px;
  left: 0;
  line-height: 14px;
  position: absolute;
  width: 14px;
}
.login-dropdow .form-horizontal .form-group .checkbox > span i {
  height: 14px;
  line-height: 14px;
  text-align: center;
  width: 14px;
}
.login-dropdow .form-horizontal .form-group .form-control {
  border: 1px solid #ffffff;
  height: 19px;
  color: #9faeb5;
  padding: 0px 4px;
  font-size: 10px;
  box-shadow: none;
}
.login-dropdow .form-horizontal .form-group .form-control::-moz-placeholder {
  font-size: 10px;
  color: #9faeb5;
}
.login-dropdow .form-horizontal .form-group .form-control::-webkit-input-placeholder {
  font-size: 10px;
  color: #9faeb5;
}
.login-dropdow .form-horizontal .form-group .form-control:-ms-input-placeholder {
  font-size: 10px;
  color: #9faeb5;
}
.login-dropdow .form-horizontal .form-group .form-control input:-moz-placeholder {
  font-size: 10px;
  color: #9faeb5;
}
.login-dropdow .form-horizontal .form-group .btn {
  font-size: 10px;
  font-weight: bold;
  color: #9faeb5;
  border: 1px solid #ffffff;
  background: none;
  margin-left: -15px;
}
.login-dropdow .arrow,
.login-dropdow .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.login-dropdow .arrow {
  border-width: 11px;
}
.login-dropdow .arrow:after {
  border-width: 10px;
  content: "";
}
.login-dropdow .arrow {
  border-top-width: 0;
  left: 50%;
  margin-left: 41px;
  top: -11px;
}
.login-dropdow .arrow:after {
  border-bottom-color: #dcebf0;
  border-top-width: 0;
  content: " ";
  margin-left: -10px;
  top: 1px;
}
.Notizie-Archivio {
  background: rgba(255, 255, 255, 0.5);
}
.Notizie-Archivio tr td {
  color: #39414c;
  font-weight: bold;
}
.showed {
  display: block;
}
@media (max-width: 1280px) {
  .main-home .caption {
    padding-left: 90px !important;
    max-width: 650px;
  }
  .custom-slider {
    margin: 0 43px;
  }
  .calendario-box-wrapper .width-content {
    margin: 0 40px;
  }
}
@media (max-width: 1199px) {
  .navbar .navbar-nav > li > a {
    padding: 0px 10px 20px 10px !important;
  }
  .navbar .navbar-header {
    margin-left: 0px !important;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav > li > a {
    padding: 0px 5px 20px 5px !important;
  }
  .main-home .caption > p {
    font-size: 22px !important;
    line-height: 22px !important;
  }
  .main-home .title-home {
    font-size: 22px !important;
  }
  .container .content-title h2 {
    font-size: 30px !important;
  }
  .container .title-bottom {
    font-size: 18px !important;
  }
  .container .title-bottom span {
    font-size: 14px !important;
  }
  .container .servizi-info {
    font-size: 14px !important;
  }
  .calendario-box {
    text-align: center;
  }
  .calendario .custom-owl-prev,
  .calendario .custom-owl-next {
    top: -225px !important;
  }
  .home-wrapper .custom-owl-prev,
  .home-wrapper .custom-owl-next {
    top: 310px !important;
  }
  .calenda-grid li {
    width: 10% !important;
  }
  .incubatore-box-wrapper .go-to-page:first-child {
    margin-top: 0px;
  }
}
@media (max-width: 980px) {
  .home-wrapper {
    background: url(../images/bg-03.jpg) no-repeat 90% 80px;
  }
}
@media (max-width: 768px) {
  .mgl470 {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .navbar {
    height: 76px;
  }
  .navbar ul.navbar-nav {
    padding-top: 0;
  }
  .navbar .navbar-nav {
    margin-top: 0;
    background-color: #ffffff;
  }
  .navbar .navbar-nav > li > a {
    padding: 5px !important;
    font-size: 14px;
  }
  .navbar .navbar-nav > li > a:hover {
    background-color: #f5f5f5;
  }
  .navbar .dropdown-menu > li:hover {
    background-color: #f5f5f5;
  }
  .navbar .dropdown-menu > li {
    padding-left: 20px;
  }
  .navbar .dropdown-menu {
    display: block;
  }
  .navbar .dropdown-menu > li a {
    color: #4b5c64 !important;
  }
  .navbar .dropdown-menu > li a:hover {
    color: #0075a6 !important;
  }
  .navbar .navbar-nav .dropdown-menu {
    /* background-color: transparent; */
    border-left: 5px solid #4b5c64;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
  }
  .navbar .has-dropdown:hover > a {
    border-left: none;
  }
  .navbar .logo {
    margin-left: 0;
  }
  .navbar .navbar-header {
    height: 76px;
  }
  .navbar .navbar-toggle {
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 33px;
    right: 15px;
    color: #4b5c64;
    border-color: #4b5c64;
    background-color: #ffffff;
  }
  .navbar .navbar-toggle span.icon-bar {
    background-color: #4b5c64;
  }
  .navbar .navbar-toggle:hover {
    background-color: #4b5c64;
  }
  .navbar .navbar-toggle:hover span.icon-bar {
    background-color: #ffffff;
  }
  .navbar .navbar-collapse ul.navbar-nav {
    padding-top: 10px !important;
  }
  .clear-margin-col {
    margin-right: 0px !important;
  }
  .calendario-box-wrapper .width-content {
    margin: 0 30px;
  }
  .whitesmoke .custom-owl-prev {
    background: url(../images/icon-owl-prev-30x30-gray.png) center center no-repeat !important;
  }
  .whitesmoke .custom-owl-next {
    background: url(../images/icon-owl-next-30x30-gray.png) center center no-repeat !important;
  }
  .custom-owl-prev {
    border-radius: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
    background: url(../images/icon-owl-prev-30x30.png) center center no-repeat !important;
  }
  .custom-owl-next {
    border-radius: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
    background: url(../images/icon-owl-next-30x30.png) center center no-repeat !important;
  }
  .custom-slider {
    margin: 0 10px;
  }
  .main-home .caption {
    padding-left: 60px !important;
    /* margin-top: 100px !important; */
  }
  .main-home .caption > p {
    font-size: 20px !important;
    line-height: 20px !important;
  }
  .main-home .title-home {
    font-size: 20px !important;
  }
  .container .content-title h2 {
    font-size: 24px !important;
  }
  .container .title-bottom {
    font-size: 17px !important;
  }
  .container .title-bottom span {
    font-size: 13px !important;
  }
  .container .servizi-info {
    font-size: 13px !important;
  }
}
@media (max-width: 600px) {
  .mgl250 {
    margin-left: 0px;
  }
  .doc-box-ct .doc-box:first-child {
    margin-top: 0px;
  }
  .calenda-grid li.event .selected {
    background: url(../images/icon-btn-go-15x15.png) center center no-repeat !important;
  }
  .main-home .caption {
    padding-left: 30px !important;
    /* margin-top: 100px !important; */
  }
  .main-home .caption > p {
    font-size: 18px !important;
    line-height: 18px !important;
  }
  .main-home .title-home {
    font-size: 18px !important;
  }
  .container .content-title h2 {
    font-size: 20px !important;
  }
  .container .title-bottom {
    font-size: 16px !important;
  }
  .container .title-bottom span {
    font-size: 12px !important;
  }
  .container .servizi-info {
    font-size: 12px !important;
  }
  .servizi-box-wrapper .two-col {
    -webkit-column-count: 1 !important;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1 !important;
    /* Firefox */
    column-count: 1 !important;
    -webkit-column-gap: 0px !important;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 0px !important;
    /* Firefox */
    column-gap: 0px !important;
  }
  .content-title {
    padding-top: 50px !important;
  }
  .news-box-wrapper {
    margin-top: 50px !important;
  }
  .news-box-wrapper .custom-owl-prev,
  .news-box-wrapper .custom-owl-next {
    top: 310px !important;
  }
  .home-wrapper .custom-owl-prev,
  .home-wrapper .custom-owl-next {
    top: 240px !important;
  }
  .home-wrapper .caption {
    margin-top: 200px !important;
  }
  .main-home .content-bottom {
    margin-top: 50px !important;
  }
}
@media (max-width: 360px) {
  .main-home .caption {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .main-home .caption > p {
    font-size: 15px !important;
  }
  .main-home .title-home {
    font-size: 15px !important;
  }
}
@media (max-width: 320px) {
  .calenda-grid li.event .selected {
    background: url(../images/icon-btn-go-7x7.png) center center no-repeat !important;
  }
  .f20,
  .month-name {
    font-size: 12px !important;
  }
  .main-home .caption {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .main-home .caption > p {
    font-size: 15px !important;
  }
  .main-home .title-home {
    font-size: 15px !important;
  }
  .home-wrapper .caption > p {
    font-size: 15px !important;
    line-height: 15px !important;
  }
  /* .main-home .caption
  {
    padding-left: 30px !important;
  } */
  .container .title-bottom {
    font-size: 12px !important;
  }
  .container .title-bottom span {
    font-size: 10px !important;
  }
  .home-wrapper .custom-owl-prev,
  .home-wrapper .custom-owl-next {
    top: 233px !important;
  }
  .calenda-grid li {
    border: 1px solid #ffffff !important;
  }
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #2b669a;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2d6ca2;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #2d6ca2;
  border-color: #2b669a;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #2d6ca2;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #419641;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-info:disabled,
.btn-info[disabled] {
  background-color: #2aabd2;
  background-image: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-warning:disabled,
.btn-warning[disabled] {
  background-color: #eb9316;
  background-image: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #c12e2a;
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-color: #357ebd;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: -o-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #3071a9;
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #3278b3 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
  border-color: #3278b3;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
