{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'calendar management'|trans }}
{% endblock %}

{% block css %}
    <link href="{{ asset('fullcalendar-2.1.1/fullcalendar.css') }}" rel='stylesheet' />
    <link href="{{ asset('fullcalendar-2.1.1/fullcalendar.print.css') }}" rel='stylesheet' media='print' />

    {% stylesheets '@IngeCalendarBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block js %}
    <script src="{{ asset('fullcalendar-2.1.1/lib/moment.min.js') }}"></script>
    <script src="{{ asset('fullcalendar-2.1.1/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('fullcalendar-2.1.1/lib/jquery-ui.custom.min.js') }}"></script>

    <script>
    $(document).ready(function() {
        var dataUpdate = [];

        /* initialize the external events
        -----------------------------------------------------------------*/
        $('#external-events .fc-event').each(function() {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                id: $(this).attr('event-id'),
                title: $.trim($(this).text()), // use the element's text as the event title
                color: $(this).css("background-color")
            };
            
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });
        });
    
        /* initialize the calendar
        -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            events: [
                {% for event in publishedEvent %}
                {
                    id: '{{ event.id }}',
                    title: '{{ event.name }}',
                    start: '{{ event.startAt|date("m-d-Y H:i:s") }}',
                    end: '{{ event.endAt|date("m-d-Y H:i:s") }}',
                    color: '{{ event.color }}'
                },
                {% endfor %}
            ],
            drop: function(date) { // this function is called when something is dropped
                
                // retrieve the dropped element's stored Event Object
                var originalEventObject = $(this).data('eventObject');
                
                // we need to copy it, so that multiple events don't have a reference to the same object
                var copiedEventObject = $.extend({}, originalEventObject);
                
                // assign it the date that was reported
                copiedEventObject.start = date;
                
                // render the event on the calendar
                // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();

                dataUpdate.push({
                    id: copiedEventObject.id,
                    title: copiedEventObject.title,
                    start_at: copiedEventObject.start.format(),
                    end_at: ''
                });

                showUpdateData(dataUpdate);
            },
            eventDrop: function(event, delta, revertFunc) {
                $.each(dataUpdate, function(i){
                    if(dataUpdate[i].id === event.id) {
                        dataUpdate.splice(i,1);
                        return false;
                    }
                });
                dataUpdate.push({
                    id: event.id,
                    title: event.title,
                    start_at: event.start.format(),
                    end_at: event.end == null ? event.end : event.end.format()
                });

                showUpdateData(dataUpdate);
            },
            eventResize: function(event, delta, revertFunc) {
                $.each(dataUpdate, function(i){
                    if(dataUpdate[i].id === event.id) {
                        dataUpdate.splice(i,1);
                        return false;
                    }
                });
                dataUpdate.push({
                    id: event.id,
                    title: event.title,
                    start_at: event.start.format(),
                    end_at: event.end.format() 
                });

                showUpdateData(dataUpdate);
            }
        });

    });

    function showUpdateData(data) {
        $.ajax({
            url: "{{ path('admin_calendar_update') }}",
            type: 'POST',
            data: {
                data: data
            },
            success: function(res) {
                if (res.status) {
                    //
                } else {
                    alert("{{ 'faile'|trans }}.");
                }
            },
            error: function() {
                alert("{{ 'server error'|trans }}.");
            }
        });
    }
    </script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">

        <div class="main-header">
            <h2><i class="fa fa-calendar"></i> {{ 'calendar'|trans }}</h2>
            <em>{{ 'drag & drop event'|trans }}</em>
        </div>
        
        <div class="main-content">
            <hr>
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'drap & drop event on calendar'|trans }}</div>
                        <div class="panel-body">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row-fluid">
                        <div id='external-events'>
                            <h4>{{ 'unpublished events'|trans }}</h4>
                            {% for event in unpublishedEvent %}
                                <div class='fc-event' style="background: {{ event.color }}" event-id="{{ event.id }}">{{ event.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}