{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'import user'|trans }}
{% endblock %}

{% block css %}
    <link href="{{ asset('select2-3.5.1/select2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('select2-3.5.1/select2-bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
    <script src="{{ asset('select2-3.5.1/select2.js') }}"></script>
    <script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('bootstrap-filestyle/bootstrap-filestyle.min.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('input[type="file"]').change(function() {
            var myFile = $(this).prop('files');
            console.log(myFile);
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-cloud-download"></i> {{ 'import user'|trans }}</h2>
            <em>{{ 'import user from xml file'|trans }}</em>
        </div>

        <div class="main-content">
            <hr>
            <div class="row">
                <div class="col-md-6 upload">
                    <input type="file" class="filestyle" data-buttonName="btn-primary" data-buttonText="{{ 'browser file'|trans }}" data-iconName="fa fa-upload">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 map" style="display: none">
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'field on database'|trans }}</th>
                                <th>{{ 'field on xml'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for field in fields %}
                            <tr>
                                <td>{{ field }}</td>
                                <td><input type="text" class="form-control field"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-right" colspan="2">
                                    <button class="btn btn-primary">{{ 'import'|trans }}</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}