{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ (action == 'add') ? 'add new user group'|trans : 'edit user group'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('select2-3.5.1/select2.css') }}" rel="stylesheet"/>
<link href="{{ asset('select2-3.5.1/select2-bootstrap.css') }}" rel="stylesheet"/>
<link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('select2-3.5.1/select2.js') }}"></script>
<script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $("#roles").select2({
        placeholder: "{{ 'search with role name'|trans }}",
        minimumInput: 0,
        multiple: true,
        allowClear: true,
        ajax: {
            url: "{{ path('get_roles') }}",
            dataType: 'json',
            quietMillis: 100,
            data: function (term) {
                return {
                    q: term
                };
            },
            results: function (json) {
                var results = [];
                $.each(json.data, function(i) {
                    results.push({
                        id: json.data[i],
                        text: json.data[i]
                    });
                });
                return {
                    results: results
                };
            }
        },
        formatSearching: function() {
                return "{{ 'searching...'|trans }}";
        },
        initSelection: function(element, callback) {
            var data = [];
            $.each($(element).select2('val'), function (i, item) {
                data.push({
                    id: item,
                    text: item
                });
            });
            callback(data);
        }

    }).change(function(e) {
        $('#group-form').bootstrapValidator('revalidateField', 'roles');
    });

    $('#group-form').bootstrapValidator({
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: "{{ 'group name is required'|trans }}"
                    }
                }
            },
            roles: {
                validators: {
                    notEmpty: {
                        message: "{{ 'roles are required'|trans }}"
                    }
                }
            }
        }
    });

});

$(function() {
    $("[name='status']").bootstrapSwitch();
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2>
                <i class="fa fa-users"></i> {{ (action == 'add') ? 'add new user group'|trans : 'edit user group'|trans }}
            </h2>
            <em>{{ 'group of user with some specific feature'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_user_group_list') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'user group management'|trans }}
                    </a>
                    <a class="btn btn-default" href="{{ path('admin_user_list') }}">
                        <i class="fa fa-user"></i> {{ 'user management'|trans }}
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form id="group-form" role="form" action="{{ (action == 'add') ? path('admin_user_group_add') : path('admin_user_group_edit', {id: group.id}) }}" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-body">
  
                                        <div class="form-group required">
                                            <label class="control-label" for="name">{{ 'group name'|trans }}</label>
                                            <input type="text" class="form-control" id="name" name="name" value="{{ group.name }}">
                                        </div>

                                        <div class="form-group required">
                                            <label class="control-label" for="roles">{{ 'roles'|trans }}</label>
                                            <input type="text" class="form-control" id="roles" name="roles" value="{{ group.roles|join(',') }}">
                                        </div>

                                        <div class="form-group">
                                            <label for="status">{{ 'status'|trans }}</label>
                                            <div>
                                                <input type="checkbox" name="status" value="{{ group.status }}" {{ (group.status) ? 'checked' : '' }}>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right">
                                    {{ (action == 'add') ? 'create'|trans : 'update'|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}