{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'user management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-users"></i> {{ 'user management'|trans }}</h2>
            <em>{{ 'create, update, delete user & group user'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_user_import') }}"><i class="fa fa-upload"></i> {{ 'import'|trans }}</a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-default" href="{{ path('admin_user_group_list') }}"><i class="fa fa-users"></i> {{ 'user group management'|trans }}</a>
                    <a class="btn btn-success" href="{{ path('admin_user_add') }}"><i class="fa fa-plus-square"></i> {{ 'add new user'|trans }}</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="data-table">
                        <thead>
                            <tr>
                                <th>{{ 'user'|trans }}</th>
                                <th>{{ 'group'|trans }}</th>
                                <th>{{ 'permission'|trans }}</th>
                                <th>{{ 'status'|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ (user.group.name is defined) ? user.group.name : '' }}</td>
                                <td>{{ user.roles|join(', ') }}</td>
                                <td>
                                    {% if user.status == 1 %}
                                        <i class="fa fa-toggle-on status-on"></i>
                                    {% else %}
                                        <i class="fa fa-toggle-off status-off"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right" width="90">
                                    <a class="btn btn-default btn-xs" href="{{ path('admin_user_edit', {'id': user.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="btn btn-default btn-xs btn-delete" data-id="{{ user.id }}" data-title="{{ user.username }}" href="#"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}