{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'user group management'|trans }}
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-users"></i> {{ 'user group management'|trans }}</h2>
            <em>{{ 'create, update, delete user & group user'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_user_list') }}"><i class="fa fa-arrow-left"></i> {{ 'user management'|trans }}</a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-success" href="{{ path('admin_user_group_add') }}"><i class="fa fa-plus-square"></i> {{ 'add new user group'|trans }}</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    {% if groups|length > 0 %}
                    <table class="table table-bordered" id="data-table">
                        <thead>
                            <tr>
                                <th>{{ 'group'|trans }}</th>
                                <th>{{ 'permission'|trans }}</th>
                                <th>{{ 'status'|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.name }}</td>
                                <td>{{ group.roles }}</td>
                                <td>
                                    {% if group.status == 1 %}
                                        <i class="fa fa-toggle-on status-on"></i>
                                    {% else %}
                                        <i class="fa fa-toggle-off status-off"></i>
                                    {% endif %}
                                </td>
                                <td class="text-right" width="90">
                                    <a class="btn btn-default btn-xs" href="{{ path('admin_user_group_edit', {id: group.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="btn btn-default btn-xs btn-delete" data-id="{{ group.id }}" data-title="{{ group.name }}" href="#"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}