{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ (type == 'add') ? 'add new user'|trans : 'edit user'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('select2-3.5.1/select2.css') }}" rel="stylesheet"/>
<link href="{{ asset('select2-3.5.1/select2-bootstrap.css') }}" rel="stylesheet"/>
<link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('select2-3.5.1/select2.js') }}"></script>
<script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#roles").select2({
            placeholder: "{{ 'search with role name'|trans }}",
            minimumInput: 0,
            multiple: true,
            allowClear: true,
            ajax: {
                url: "{{ path('get_roles') }}",
                dataType: 'json',
                quietMillis: 100,
                data: function (term) {
                    return {
                        q: term
                    };
                },
                results: function (json) {
                    var results = [];
                    $.each(json.data, function(i) {
                        results.push({
                            id: json.data[i],
                            text: json.data[i]
                        });
                    });
                    return {
                        results: results
                    };
                }
            },
            formatSearching: function() {
                return "{{ 'searching...'|trans }}";
            },
            initSelection: function(element, callback) {
                var data = [];
                $.each($(element).select2('val'), function (i, item) {
                    data.push({
                        id: item,
                        text: item
                    });
                });
                callback(data);
            }
        });

        $('#user-form').bootstrapValidator({
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'username is required'|trans }}"
                        }
                    }
                },
                {% if type == 'add' %}
                password: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'password is required'|trans }}"
                        }
                    }
                },
                {% endif %}
                email: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'email is required'|trans }}"
                        },
                        emailAddress: {
                            message: "{{ 'the value is not a valid email address'|trans }}"
                        }
                    }
                }
            }
        });

    });

    $(function() {
        $("[name='status']").bootstrapSwitch();
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2>
                <i class="fa fa-user"></i> {{ (type == 'add') ? 'add new user'|trans : 'edit user'|trans }}
            </h2>
            <em>{{ 'create, update, delete user & group user'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="{{ path('admin_user_list') }}"><i class="fa fa-arrow-left"></i> {{ 'user management'|trans }}</a>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-default" href="{{ path('admin_user_group_list') }}"><i class="fa fa-users"></i> {{ 'group user'|trans }}</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form id="user-form" role="form" action="{{ (type == 'add') ? path('admin_user_add') : path('admin_user_edit', {id: user.id}) }}" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ 'base infomation'|trans }}</div>
                                    <div class="panel-body">
  
                                        <div class="form-group required">
                                            <label class="control-label" for="username">{{ 'username'|trans }}</label>
                                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" {{ (type == 'edit') ? 'disabled' }}>
                                        </div>

                                        <div class="form-group {{ (type == 'add') ? 'required' : ''}}">
                                            <label class="control-label" for="password">{{ 'password'|trans }}</label>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>

                                        <div class="form-group required">
                                            <label class="control-label" for="email">{{ 'email'|trans }}</label>
                                            <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}" {{ (type == 'edit') ? 'disabled' }}>
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <label class="control-label" for="group">{{ 'group'|trans }}</label>
                                            <select class="form-control" name="group">
                                                <option value="">{{ 'choose group'|trans }}...</option>
                                                <option disabled>---</option>
                                                {% for group in groups %}
                                                <option value="{{ group.id }}" 
                                                    {{ 
                                                        (user.group != null) ? (group.id == user.group.id) ? 'selected' : '' : ''
                                                    }}>
                                                    {{ group.name|trans }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="status">{{ 'status'|trans }}</label>
                                            <div>
                                                <input type="checkbox" name="status" {{ (user.status) ? 'checked' }}>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ 'option infomation'|trans }}</div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <label class="control-label" for="fullname">{{ 'fullname'|trans }}</label>
                                            <input type="text" class="form-control" id="fullname" name="fullname" value="{{ user.fullname }}">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label" for="phonenumber">{{ 'phonenumber'|trans }}</label>
                                            <input type="text" class="form-control" id="phonenumber" name="phonenumber" value="{{ user.phonenumber }}">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label" for="address">{{ 'address'|trans }}</label>
                                            <input type="text" class="form-control" id="address" name="address" value="{{ user.address }}">
                                        </div>

                                        <hr>

                                        <div class="form-group">
                                            <label class="control-label" for="roles">{{ 'roles'|trans }}</label>
                                            <input type="text" class="form-control" id="roles" name="roles" value="{{ user.userRoles|join(',') }}">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right">{{ (type == 'add') ? 'create'|trans : 'update'|trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}