<tr>
    <td>
        <h4>{{ 'SEO (Search Engine Optimize)'|trans }}</h4>
        <p><small>{{ 'enable/disable seo feature'|trans }}</small></p>
    </td>
    <td>
        <input type="checkbox" id="setting_seo">
    </td>
</tr>

<script type="text/javascript">
    var initSeo = function() {
        $.ajax({
            url: "{{ path('admin_setting_get_value') }}",
            type: 'GET',
            data: {
                area: 'all',
                type: 'seo'
            },
            dataType: 'json',
            success: function(res) {
                if (res.status) {
                    if (res.data) {
                        $('#setting_seo').bootstrapSwitch('state', true);
                    } else {
                        $('#setting_seo').bootstrapSwitch('state', false);
                    }
                } else {
                    alert("{{ 'faile.'|trans }}");
                }
            },
            error: function() {
                alert("{{ 'server error.'|trans }}");
            }
        });
    }

    $(document).ready(function () {
        initSeo();

        $('#setting_seo').on('switchChange.bootstrapSwitch', function(event, state) {
            console.log(state);
            $.ajax({
                url: "{{ path('admin_setting_set_value') }}",
                type: 'POST',
                data: {
                    area: 'all',
                    type: 'seo',
                    value: state
                },
                dataType: 'json',
                success: function(res) {
                    if (res.status) {
                    } else {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        });
    });

    $(function() {
        $('#setting_seo').bootstrapSwitch();
    });
</script>