{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'setting frontend menu'|trans }}
{% endblock %}

{% block css %}
    <link href="{{ asset('select2-3.5.1/select2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('select2-3.5.1/select2-bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>

    <style type="text/css">

        /**
         * Nestable
         */
        .dd { position: relative; display: block; margin: 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }

        .dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
        .dd-list .dd-list { padding-left: 30px; }
        .dd-collapsed .dd-list { display: none; }

        .dd-item,
        .dd-empty,
        .dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

        .dd-handle { display: block; height: 36px; margin: 5px 0; padding: 7px 12px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
            background: #fafafa;
            background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
            background:         linear-gradient(top, #fafafa 0%, #eee 100%);
            -webkit-border-radius: 3px;
                    border-radius: 3px;
            box-sizing: border-box; -moz-box-sizing: border-box;
        }
        .dd-handle:hover { color: #2ea8e5; background: #fff; }

        .dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
        .dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
        .dd-item > button[data-action="collapse"]:before { content: '-'; }

        .dd-placeholder,
        .dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
        .dd-empty { border: 1px dashed #bbb; background-color: #e5e5e5; }

        .dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
        .dd-dragel > .dd-item .dd-handle { margin-top: 0; }
        .dd-dragel .dd-handle {
            -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
                    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
        }

        /**
         * Nestable Extras
         */

        .nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

        #nestable-menu { padding: 0; margin: 20px 0; }

        #nestable-output,
        #nestable-unused-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

        #nestable-unused .dd-handle {
            color: #fff;
            border: 1px solid #999;
            background: #bbb;
            background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
            background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
            background:         linear-gradient(top, #bbb 0%, #999 100%);
        }
        #nestable-unused .dd-handle:hover { background: #bbb; }
        #nestable-unused .dd-item > button:before { color: #fff; }

        .dd-hover > .dd-handle { background: #2ea8e5 !important; }

        /* custom nestable */

        #nestable-unused .dd-item {
            display: inline-block;
        }
        #nestable-unused .dd-placeholder {
            display: none;
        }
    </style>
{% endblock %}

{% block js %}
    <script src="{{ asset('select2-3.5.1/select2.js') }}"></script>
    <script src="{{ asset('bootstrap-switch/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

    <script src="{{ asset('jquery/jquery.nestable.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('.btn-add').click(function() {
            if ($('#link_title').val() !== '' && $('#link').val() !== '') {
                $.ajax({
                    url: "{{ path('admin_menu_add') }}",
                    type: 'POST',
                    async: false,
                    data: {
                        title: $('#link_title').val(),
                        link: $('#link').val()
                    },
                    success: function(res) {
                        $('#link_title').val('');
                        $('#link').val('');

                        if (res.status) {
                            if ($('#nestable-unused ol').length > 0) {
                                $('#nestable-unused ol').append('\
                                    <li class="dd-item" data-id="'+res.data.id+'" data-title="'+res.data.title+'" data-link="'+res.data.link+'">\
                                        <div class="dd-handle">'+res.data.title+'</div>\
                                    </li>\
                                ');
                            } else {
                                $('#nestable-unused').empty().append('\
                                    <ol class="dd-list">\
                                        <li class="dd-item" data-id="'+res.data.id+'" data-title="'+res.data.title+'" data-link="'+res.data.link+'">\
                                            <div class="dd-handle">'+res.data.title+'</div>\
                                        </li>\
                                    </ol>\
                                ');
                            }
                            
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });

    $(function() {
        var updateMenu = function(e) {
            var list = e.length ? e : $(e.target);
            var data = JSON.stringify(list.nestable('serialize'));
            
            $.ajax({
                url: "{{ path('admin_menu_update') }}",
                type: 'POST',
                async: false,
                data: {
                    data: data
                },
                success: function(res) {
                    if (res.status === false) {
                        alert("{{ 'faile'|trans }}.");
                    }
                },
                error: function() {
                    alert("{{ 'server error'|trans }}.");
                }
            });
        };

        var updateUnusedList = function(e) {
            var list = e.length ? e : $(e.target);
            var listItems = list.nestable('serialize');

            if (listItems.length === 0) {
                $('#nestable-unused').html('\
                    <div class="dd-empty"></div>\
                ');
            }
        };

        var removeItem = function(e) {
            var list = e.length ? e : $(e.target);
            console.log(list.nestable('serialize'));
            var listItems = $(list).find('li');

            $.each(listItems, function(i) {
                id = $(listItems[i]).attr('data-id');
                $.ajax({
                    url: "{{ path('admin_menu_delete') }}",
                    type: 'POST',
                    async: false,
                    data: {
                        id: id
                    },
                    success: function(res) {
                        if (res.status) {
                            $('#nestable-remove').html('\
                                <div class="dd-empty"></div>\
                            ');
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            });
        };

        // menu item
        $('#nestable').nestable({
            maxDepth: 2,
            group: 1
        }).change(updateMenu);

        // unused item
        $('#nestable-unused').nestable({
            maxDepth: 1,
            group: 1
        }).change(updateUnusedList);

        // remove item
        $('#nestable-remove').nestable({
            maxDepth: 1,
            group: 1
        }).change(removeItem);
    });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-cog"></i> {{ 'setting frontend menu'|trans }}</h2>
            <em>{{ 'navigation on frontend'|trans }}</em>
        </div>

        <div class="main-content">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'structure menu'|trans }}</div>
                        <div class="panel-body">
                            <div class="dd" id="nestable">
                                {% if menuSetting|length == 0 %}
                                <div class="dd-empty"></div>
                                {% else %}
                                <ol class="dd-list">
                                    {% for node in menuSetting %}
                                        <li class="dd-item" data-id="{{ node.id }}" data-title="{{ node.title }}" data-link="{{ node.link }}">
                                            <div class="dd-handle">{{ node.title }}</div>

                                            {% if node.children is defined %}
                                            <ol class="dd-list">
                                                {% for child in node.children %}
                                                <li class="dd-item" data-id="{{ child.id }}" data-title="{{ child.title }}" data-link="{{ child.link }}">
                                                    <div class="dd-handle">{{ child.title }}</div>
                                                </li>
                                                {% endfor %}
                                            </ol>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ 'create new link'|trans }}</div>
                            <div class="panel-body">
                                <div class="form-group required">
                                    <label class="control-label" for="link_title">{{ 'link title'|trans }}</label>
                                    <input type="text" class="form-control" id="link_title" name="link_title" placeholder="{{ 'enter a new link title'|trans }}">
                                </div>

                                <div class="form-group required">
                                    <label class="control-label" for="link">{{ 'link'|trans }}</label>
                                    <select class="form-control" id="link" name="link">
                                        <option value="">{{ 'choose link'|trans }}...</option>
                                        <option disabled>---</option>
                                        {% for route in routes %}
                                        <option value="{{ route }}">{{ route }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-primary btn-add pull-right">{{ 'add'|trans }}</button>
                            </div>

                            <div class="panel-footer">
                                <p class="text-danger">{{ 'drop item in here for remove'|trans }}</p>
                                <div class="dd" id="nestable-remove">
                                    <div class="dd-empty"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ 'list link unused'|trans }}</div>
                            <div class="panel-body">
                                <div class="dd" id="nestable-unused">
                                    {% if menus|length == 0 %}
                                        <div class="dd-empty"></div>
                                    {% else %}
                                    <ol class="dd-list">
                                        {% for menu in menus %}
                                        <li class="dd-item" data-id="{{ menu.id }}" data-title="{{ menu.title }}" data-link="{{ menu.link }}">
                                            <div class="dd-handle">{{ menu.title }}</div>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}