<div id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('admin_dashboard') }}">
                    <h3 class="brand"><i class="fa fa-puzzle-piece"></i> {{ 'admin area'|trans|upper }}</h3>
                </a>
            </div>

            <div class="col-md-10">
                <div class="top-panel">
                    <div class="front-end">
                        <a href="{{ path('frontend_home') }}" target="_blank"><i class="fa fa-home"></i> {{ 'homepage'|trans }}</a>
                    </div>
                    <div class="logged-user">
                        <div class="btn-group">
                            <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('no-avatar.png') }}" style="width: 24px">
                                <span class="name">{{ app.security.getToken().getUser().getUsername() }}</span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                        <span class="text">{{ 'profile'|trans }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_logout') }}">
                                        <i class="fa fa-power-off"></i>
                                        <span class="text">{{ 'logout'|trans }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>