<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ 'admin area'|trans|upper }}{% endblock %}</title>

        <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        {% stylesheets '@IngeAdminBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block css %}{% endblock %}

        <script src="{{ asset('jquery/jquery-2.1.1.min.js') }}"></script>
    </head>
    <body>
        {{ include('IngeAdminBundle:base:notification.html.twig') }}

        {% block header %}
            {{ include('IngeAdminBundle:base:header.html.twig') }}
        {% endblock %}

        {% block sidebar %}
            {{ include('IngeAdminBundle:base:sidebar.html.twig') }}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {{ include('IngeAdminBundle:base:footer.html.twig') }}
        {% endblock %}

        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('notify/notify.min.js') }}"></script>

        {% block js %}{% endblock %}
    </body>
</html>