{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    {% import "knp_menu.html.twig" as macros %} 
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {% if item.attribute('icon') is not empty  %}
            <i class="{{ item.attribute('icon') }}"></i> 
        {% endif %}
        {{ block('label') }}
    </a>
{% endblock %}

{% block label %}
    {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}
        {{ item.label|raw }}
    {% else %}
        {{ item.label|trans }}
    {% endif %}
{% endblock %}