<script type="text/javascript">
    $(document).ready(function() {
        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                $.notify("{{ flashMessage }}", "{{ type }}");
            {% endfor %}
        {% endfor %}
    });
</script>