<header class="navbar navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('frontend_home') }}">
        <img class="logo" width="139" height="61" src="{{ asset('brescia2/images/logo.png') }}" alt="">
      </a>
    </div>
    <div class="social-container clearfix">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <nav class="collapse navbar-collapse">
      {{ render(controller('IngeFrontendBundle:Common:getMenu')) }}
    </nav><!--/.nav-collapse -->
  </div>
</header>