<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ 'home'|trans|upper }}{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->

    <link href="{{ asset('brescia2/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('brescia2/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('brescia2/css/scrollbar.css') }}" rel="stylesheet">
    <link href="{{ asset('brescia2/plugins/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('brescia2/plugins/owl-carousel/owl.theme.css') }}" rel="stylesheet">

    {% block css %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body {% block body %}{% endblock %}>
    <section >
      {{ include('IngeFrontendBundle:base:header.html.twig') }}
      {% block content %}{% endblock %}
    </section>
    {{ include('IngeFrontendBundle:base:footer.html.twig') }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('brescia2/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('brescia2/plugins/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('brescia2/js/jquery.tinyscrollbar.js') }}"></script>
    <script src="{{ asset('brescia2/js/jquery.stellar.js') }}"></script>
    <script src="{{ asset('brescia2/js/modernizr.js') }}"></script>
    <script src="{{ asset('brescia2/js/setup.js') }}"></script>

    <script type="text/javascript">
      $(document).ready( function (){
        loginBtn = $('#button-dropdown');
        dropdow = $('#login-dropdow');
        input = $('#login-dropdow input:first');
        loginBtn.click( function(){
          if ( dropdow.hasClass('showed') ){
            loginBtn.removeClass('showed');
            dropdow.removeClass('showed');
          } else{
            loginBtn.addClass('showed');
            dropdow.addClass('showed');
            input.focus();

          }
        });
      });
    </script>

    {% block js %}{% endblock %}
  </body>
</html>