{% if menus|length > 0 %}
    <ul class="nav navbar-nav navbar-right">
    {% for menu in menus %}
        <li class="{{ (menu.children is defined) ? (menu.children|length > 0) ? 'has-dropdown' : '' : '' }}">
            <a href="{{ menu.link }}" {{ (menu.children is defined) ? (menu.children|length > 0) ? 'data-toggle="dropdown" class="dropdown-toggle"' : '' : '' }}>{{ menu.title|trans }}</a>

            {% if menu.children is defined %}
                {% if menu.children|length > 0 %}
                    <ul role="menu" class="dropdown-menu">
                    {% for subMenu in menu.children %}
                        <li><a href="{{ subMenu.link }}">{{ subMenu.title|trans }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
        <li>
            <a href="#" id="button-dropdown">{{ 'login'|trans }}</a>

            <div class="login-dropdow" id="login-dropdow" >
                <div class="arrow"></div>
                    <form class="form-horizontal" role="form" action="{{ path('admin_login_check') }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputEmail3" name="_username" placeholder="{{ 'username'|trans }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword3" name="_password" placeholder="***********">
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sx-6">
                                <button type="submit" class="btn btn-default">{{ 'login'|trans }}</button>
                            </div>

                            <div class="col-md-6 col-sx-6">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span><i class="glyphicon glyphicon-ok"></i> </span> Recordame
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p style="color: #9faeb5; font-size: 8px;">
                                Hai dimenticato la tua passwork?
                                </br>
                                <strong style="color: #9faeb5; font-size: 8px;">Non sai ancora registrato? Clicca qui</strong>
                            </p>
                        </div>
                    </form>
                </div>
        </li>

    </ul>
{% endif %}