{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ (action == 'add') ? 'add new seo define'|trans : 'edit seo defined'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-validator/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-validator/js/bootstrapValidator.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#seo-form').bootstrapValidator({
            fields: {
                {% if action == 'add' %}
                route: {
                    validators: {
                        notEmpty: {
                            message: "{{ 'route is required'|trans }}"
                        }
                    }
                },
                {% endif %}
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2>
                <i class="fa fa-search-plus"></i> {{ (action == 'add') ? 'add new seo define'|trans : 'edit seo defined'|trans }}
            </h2>
            <em>{{ 'define meta tag contents'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{{ path('admin_seo') }}">
                        <i class="fa fa-arrow-left"></i> {{ 'seo management'|trans }}
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <form id="seo-form" role="form" action="{{ (action == 'add') ? path('admin_seo_add') : path('admin_seo_edit', {id: seo.id}) }}" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-body">
  
                                        <div class="form-group required">
                                            <label class="control-label">{{ 'route'|trans }}</label>
                                            <input type="text" class="form-control" id="route" name="route" value="{{ seo.route }}">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">{{ 'meta title'|trans }}</label>
                                            <input type="text" class="form-control" id="meta_title" name="meta_title" value="{{ seo.metaTitle }}">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">{{ 'meta description'|trans }}</label>
                                            <textarea class="form-control" id="meta_description" name="meta_description">{{ seo.metaDescription }}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">{{ 'meta keywords'|trans }}</label>
                                            <textarea class="form-control" id="meta_keywords" name="meta_keywords">{{ seo.metaKeywords }}</textarea>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">{{ 'meta language'|trans }}</label>
                                            <textarea class="form-control" id="meta_language" name="meta_language">{{ seo.metaLanguage }}</textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right">
                                    {{ (action == 'add') ? 'create'|trans : 'update'|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}