{% extends 'IngeAdminBundle:base:layout.html.twig' %}

{% block title %}
    {{ 'seo management'|trans }}
{% endblock %}

{% block css %}
<link href="{{ asset('bootstrap-datatables/css/data-tables.css') }}" rel="stylesheet"/>
{% endblock %}

{% block js %}
<script src="{{ asset('bootstrap-datatables/js/jquery.data-tables.js') }}"></script>
<script src="{{ asset('bootstrap-datatables/js/data-tables.js') }}"></script>

{{ include('IngeAdminBundle:components:data-table.html.twig') }}

<script type="text/javascript">
    $(document).ready(function() {
        $('.btn-delete').on('click', function(e) {
            e.preventDefault();
            var cf = confirm("{{ 'confirm delete'|trans }}: " + $(this).attr('data-name') + '?');
            if (cf) {
                $.ajax({
                    url: $(this).attr('data-url'),
                    type: 'GET',
                    context: this,
                    success: function(res) {
                        if (res.status) {
                            $(this).closest('tr').remove();
                        } else {
                            alert("{{ 'faile'|trans }}.");
                        }
                    },
                    error: function() {
                        alert("{{ 'server error'|trans }}.");
                    }
                });
            }
        });
    });
</script>

{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content">
        <div class="main-header">
            <h2><i class="fa fa-search-plus"></i> {{ 'seo management'|trans }}</h2>
            <em>{{ 'search engine optimization'|trans }}</em>
        </div>

        <div class="main-content">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="btn btn-success" href="{{ path('admin_seo_add') }}"><i class="fa fa-plus-square"></i> {{ 'new seo definition'|trans }}</a>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    {% if seos|length > 0 %}
                    <table class="table table-bordered" id="data-table">
                        {% if seos|length > 0 %}
                        <thead>
                            <tr>
                                <th>{{ 'route'|trans }}</th>
                                <th>{{ 'meta title'|trans }}</th>
                                <th>{{ 'meta description'|trans }}</th>
                                <th>{{ 'meta keywords'|trans }}</th>
                                <th>{{ 'meta language'|trans }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for seo in seos %}
                            <tr>
                                <td>{{ seo.route }}</td>
                                <td>{{ seo.metaTitle }}</td>
                                <td>{{ seo.metaDescription }}</td>
                                <td>{{ seo.metaKeywords }}</td>
                                <td>{{ seo.metaLanguage }}</td>
                                <td class="text-right" width="90">
                                    <a class="btn btn-default btn-xs" href="{{ path('admin_seo_edit', {id: seo.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a class="btn btn-default btn-xs btn-delete" data-id="{{ seo.id }}" data-name="{{ seo.route }}" data-url="{{ path('admin_seo_delete', {id: seo.id}) }}" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}